/* INICIO HOJA DE ESTILOS DEL HOME - MAQUETA 1*/
 *{ 
     font-family: Roboto, sans-serif;
 }

html, body {
    margin: 0;
    padding: 0;
}
body { width: 100%;}

p { margin: 0 !important;}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
.-fondoHome {
    background-image: url(../assets/images/Image\ 90.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vw;
    width: 100%;
    min-width: 90%;
}
.-texto-alejandria { padding-left: 20px;}
 .-row-home{ width: 100%; height: 100%; margin: 0 !important;}
.-texto-familia {padding-top: 15px;}
.-pdd-0-i { padding: 0 !important;}

.-proyectos-bogota {
    background: transparent linear-gradient(156deg, #00B245 0%, #008C44 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #50474134;
    border-radius: 15px;
    opacity: 1;
    width: 372px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding:5px;
}



.-bogota {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.-imgcastillo {
    width: 33px;
    height: 46px;
    margin-left: 23px;
    margin-right: 15px;
}


.-content-bg-card { background-color: white; border-top-left-radius: 15px; border-top-right-radius: 15px;}


.-en {
    font-size: 16px;
    font-weight: 400;
}
.-hr-card { width: 90%; border: 1px solid #D3CDC7; margin: 15px auto;}

.-imgflecha {
    width: 20px;
    height: 14px;
    margin-left: 101px;
    margin-right: 13px;
}
.-col-home-left { width: 100%; height: 100%; display: flex !important; flex-direction: column;}
.-contenedor-alejandria {
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    opacity: 1;
    width: 372px;
    height: 411px;
    margin: 25px auto 0 auto;
    background-color: #F9F5F3;

}
.-p-center { height: 475px;width: 372px; margin: auto; margin-bottom: -80px; }
.-col-left-home{ height: 100% !important;}

.-texto-alejandria {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.56px;
    color: rgba(80, 71, 65, 1);
    opacity: 1;
    text-align: left;
    padding-top: 16px;
    margin-left: 12px;
    margin-right: 20px;
    width: 50%;
}
.-font-size-12-i { font-size: 12px !important;color:  rgba(80, 71, 65, 1); ;
    font-size: 16px;
    }

.-zona-norte {
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(80, 71, 65, 1);
    width: 50%;
}
.-row-card-back { width: 100%; display: flex; padding-left: 15px;}
.-row-card-back-button { width: 100%; display: flex; }

.-row-card-back-left { width: 60%; display: flex; flex-direction: column;}
.-row-card-back-right { width: 40%; padding-left: 15px;}
.-price-small { color: white; font-size: 10px; font-weight: 700; width: 80px; margin: 0 auto; }
.-price-large { color: white; font-size: 16.5px ; font-weight: 700;}
.-price-large-m { color: white; font-size: 14px ; font-weight: 700; }
.-hr-border-right { border-right: solid 1px rgba(255, 255, 255, 1); padding-right: 10px;}
.-subtext-card-back { font-size: 10px; color: white; text-align: center; padding-left: 15px;}
.-pdd-left-small { padding-left: 10px !important;}
.-zona {
    font-weight: 400;
}
.-btn-green-card-back { width: 85%; margin: 0 auto; border: solid 2px white; height: 40px ; background-color: transparent; border-radius: 24px; color: white;}
.-mg-top-25{margin-top: 20px;}
.-chico {
    font-weight: bold;
}
.-back-card-verde { 
    width: 100%;
    height: 224px;
    background-color:rgba(0, 140, 68, 1) ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px 0 20px 0px ;

}
.-bogota-zona-norte {
    display: flex;
    flex-direction: row;
    background-color: #F9F5F3;
    justify-content: space-between;
    padding: 15px 20px 0px;
}

.-iconos-chico {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    

}
/* Inicio Sección Encuentra tu Hogar Soñado*/
.-hogar-sonado {
   padding: 200px 0;
}

.-encuentra {
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: rgba(5, 98, 50, 1);
    text-transform: uppercase;

}
.--container-fluid-section-two-soñado { 
    padding: 0 10% !important; background-color:#F9F5F3 ;
}
.-hogar {
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(5, 98, 50, 1);
    text-transform: uppercase;
}

.-p-hogar-ideal {
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
}

.-centrar-hogar {
    text-align: center;
}

.-ciudad-sector {
    width: 556px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.-precio-area {
    width: 556px;
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    opacity: 1;
}
/* Final Sección Encuentra tu Hogar Soñado*/
.--container-fluid-section-project { 
    padding: 20px 10% !important;
}
.--btn-contact-layout-image { 
    width: 100px;
    height: 100px;
}
.-p-icon-alejandria { 
    margin: 0 10px 0;
}
.-content-text-right-image { 
    padding-left:15px  ; display: flex; flex-direction: column;
}
.--btn-contact-layout { 
   border-radius: 75px; background-color: transparent;
    position: sticky; bottom: 150px; left: 93%; border: none; display: flex; justify-content: center; align-items: center;
}
.-btn-descubrir {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.-content-arrows-card-cali-home { width: 100%; display: flex; justify-content: space-between; padding: 20px 30px 0 10px !important;}
.-text-cali-green-card { color:#008C44 ; font-size: 26px; font-weight: 700; margin: 15px 0 0 15px;}
.-content-card-cali-icon { width: 100%; display: flex;}
.-text-green-card-cali-home {color: #008C44; font-size: 18px; font-weight: 700; letter-spacing: 1.08px;}
.-text-gray-card-cali-home {color: #504741; font-size: 16px; font-weight: 400; letter-spacing: 1.28px;}
.-btn-mas {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    width: 245px;
    height: 40px;
    background: #008C44 !important ;
    border: none;
    border-radius: 40px;
    opacity: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.0em;
    padding: 0 25px 0 20px;
    margin: 15px auto 0;
   
}
.-btn__descargar__folleto{

    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    width: 200px;
    height: 40px;
    background: #008C44 !important ;
    border: none;
    border-radius: 40px;
    opacity: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.0em;
    padding: 0 25px 0 20px;
    margin: 15px auto 0;


    position: relative;
    right: 12px;

}
 .-p-card-right-home { width: 469px; height:205px; margin: auto auto 0;  margin-bottom: -105px; }
 .-content-left-card-cali { width: 50%; height: 100%; padding: 30px 0 0 20px} 

.-contenedor-cali {
    width: 469px;
    height: 205px;
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    opacity: 1;
    display: flex;
}

.-AdobeStock_202503070 {
    width: 50%;
    height: 100%;
}
.-images-card-cali{ height: 100%; width: 100%; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}


-img-grupo-891 {
    background: transparent url('img/Group 891.png') 0% 0% no-repeat padding-box;
opacity: 1;

}

.-texto-familia{
    background-color: #F9F5F3;
}

.-texto-familia p{
    text-align: left;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.56px;
    color: rgba(80, 71, 65, 1);
    background-color: #F9F5F3;
}



.-precio-alejandria {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: rgba(80, 71, 65, 1);
}

.-precio-cop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.-titulo-proyectos {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgba(5, 98, 50, 1);
    font-weight: 800;
}

.-texto-hogar {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
    text-align: left;
    margin-bottom: 35px !important;
}
.-propiedades {
    width: 70%;
    height: 317px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.-header-card-back { 
    height: 93px;
    width: 100%;
    background-color:rgba(229, 224, 219, 1) ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
    padding: 25px 30px;
    display: flex;
}

.-content-info-card-back { display: flex; flex-direction: column; padding-left: 20px;}


/* Inicia Proyectos */

.-titulo-proyectos{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.-texto-hogar {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
}

/* Inicio Cards */
.card { 
    border: none !important;
}

.-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-aroun;
    margin: auto;
}
.-p-card-end { width: 100%; height: 50%; margin: 75% 0 0 0 ; display: flex; flex-direction: column;  padding: 0 25px 20px; }

.-card-body1 {
    width: 236px;
    height: 317px;
    
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/Image\ 4.png);
    position: relative;
    background-size: cover;
    background-position: center;

}
.insignia-card { 
  
    color: white;
    padding-left: 10px;
    font-size: 11px;
    width: 100px;
    border-radius: 15px;
    background-color: rgba(128, 51, 232, 1);
}
.-insignia-card-three { 
    color: rgba(80, 71, 65, 1);
    padding-left: 10px;
    font-size: 11px;
    width: 130px;
    border-radius: 15px;
    background-color: rgba(252, 218, 95, 1);

}

.-card-body2-1{ 
    width: 236px !important;
}
.-card-body2 {
    width: 236px !important;
    height: 317px;
    
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/ilarco_114-img1.png);
    position: relative;
    background-size: cover;
    background-position: center;
}




.-card-body3 {
    width: 236px;
    height: 317px;
    
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/alto-living-foto-ago-2-2019@2x.png);
    position: relative;
    background-size: cover;
    background-position: center;
}

.-card-body4 {
    width: 236px;
    height: 317px;
    
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/mirla-img_1-amp@2x.png);
    position: relative;
    background-size: cover;
    background-position: center;

}

.-card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    background: #F9F5F3;
  }
  
  .-card-front {
    transform: rotateY(0deg);
  }
  
  .-card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .-card-flip:hover .-card-front {
    transform: rotateY(-180deg);
  }
    
  .-card-flip:hover .-card-back {
    transform: rotateY(0deg);
  }

  .-card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    
    
  }

  .-card-zona {
      margin-top: -5px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    display: block;
  }

  .-card-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .-card-subzona {
      margin-top: -7px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }
  /* Fin Cards */

/*  Finaliza Proyectos*/



/* Inicia Pasa la Voz */
.-pasa-voz {
    margin-bottom: 0;
    margin-top: 50px;
}

.-fondo-voz {
    background-image: url(../assets/images/AdobeStock_181205632.png);
    background-size: cover;
    height: 630px;
    width: 100%;
    padding: 0 !important;
}

.-pasa {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
}

.-voz {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(80, 71, 65, 1);
    margin-top: -10px;
}

.-parrafo-voz {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
    padding: 0 50px 0 30px;
}

.-iconos-celu {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.bg__image__voz { background-color: rgba(249, 245, 243, 1); padding: 0 !important;}

.-btn-pasa-voz {
    font-family: 'Roboto', sans-serif;
    color: rgba(3, 127, 67, 1);
    font-size: 16px;
    font-weight: 500;
    width: 288px;
    height: 50px;
    background:none !important ;
    border: 2px solid rgba(3, 127, 67, 1);
    border-radius: 25px;
    opacity: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.0em;
    padding: 0 25px 0 35px;
    margin: 30px 0 0 0;
}

.-centrar-boton-referir {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Finaliza Pasa la Voz */



/* Inicia sección Nuestra Vida-Obra */
.-fondo-rama {
    background-image: url(../assets/images/AdobeStock_202248905.png);
    width: 100%;
    height: 360px;
}

.-centrar-vida-obra {
    width: 50%;
}

.-vida {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    width: 310px;
    margin: 0 auto;
    margin-top: 100px;
}

.-obra {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    width: 310px;
    margin: 0 auto;
}

.-btn-conocenos {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    width: 310px;
    height: 50px;
    background:none !important ;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 25px;
    opacity: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.0em;
    padding: 0 25px 0 35px;
    margin: 0 auto;
}
.--content-selects-section-two { width: 100%; display: flex; justify-content: space-between; padding: 0 10%; ;}
.--title-selects-section-two { color:#504741 ; font-size: 14px; font-weight: 700;}
.--content-right-section-two{ width: 100%; height: 100%; }
.section_life { width: 100%; height: 25vw; background: url(../assets/images/AdobeStock_202248905.png); background-size: cover;}
.text_section-life { width: 100%; color: white; font-size: 400; font-size: 40px; text-transform: uppercase; display: block;}
.btn-meet { display: flex; justify-content: space-between; padding: 0 25px; align-items: center; width: 294px; height: 50px; border: none; border: solid 2px white; border-radius: 25px; background-color: transparent; color: white; font-size: 16px; font-weight: 400; }
.p-center__text { width: 50%;}
.content__center { width: 50%; margin: 0 auto; padding-top: 60px;}
.mg-top-40 { margin-top: 40px;}
.mg--top-10 {margin-top: -10px; }
.mg--top-5 { margin-top: 5px;}
.pdd--box { padding: 20px 0 20px 20px}
.d-block { display: block !important; }
.-row-sub-card-back { width: 100%; display: flex; justify-content: space-between;}
.--style-selects-section-two { width: 222px; height: 30px;
     background-color: transparent; border: none; margin-top: 5px; border-bottom: solid 1px #FCDA5F;
      color:#A09995; font-size: 14px; background: url(../assets/images/arrow-bot-marron.svg) no-repeat right; } 
.prueba { width: 100%; height: 50px; background-color: green; margin:  0 5%;}
.--d-flex-column { display: flex; flex-direction: column !important; margin: 0 2%;}
.--card-right-section-two-white { width: 100%; padding: 20px; border-radius: 15px;
     box-shadow: 0px 20px 30px #00000026; background-color: white;
     margin: 30px 5%; 
    }
.--pdd-left-card-section-two { padding-left: 2%;}
.--row-grid-card {width: 100%; display: grid; grid-template-columns: repeat(4, 25%);}
.--text-small-card-section-two { color: #504741; font-size: 11px ; font-weight: 400; }
.--w-100-i { width: 90% !important; margin: 0 auto 0 0; }
.--image-cop-card-section-two { width: 46px; height: 30px; margin: 0 auto;}
.--container-btn-rotate { width: 110px; height: 30px; border: solid 2px #504741; border-radius: 4px; margin: 5px auto; display: flex; flex-direction: row;}
.--tac { text-align: center; margin: 0 auto;}
.--content-left-btn-rotate{ width: 47%; height: 100%; background-color: #FCDA5F;}
.--content-mid-btn-rotate{ width: 6%; height: 100%; background-color: #504741; opacity: 0.15;}
.--content-right-btn-rotate { width: 47%; height: 100%; background-color: #F8F6F4;}
.--pdd-left-card-section-two-btn-rotate { padding: 15%; }
.--image-pies-card-section-two { width: 60px; height: 55px; margin: 0 auto;}
.--container-search-green-section-two {width: 100%;  margin:  0 5%; display: flex; justify-content: flex-end;}
.--style-search-section-two { display: flex; align-items: center; padding-left: 30px; border: none; width: 270px; height: 48px; background-color:#008C44; border-radius: 30px; box-shadow: 0px 3px 6px #00000029;}
.--style-search-section-two input[type=search]::placeholder {  color: white; font-size: 16px; font-weight: 500; }
.-input-search-green-section-two { cursor: pointer; background-color: transparent; width: 80%; border: none; color: white;}
.btn-icon-search { background-color: transparent; cursor: pointer; border: none;}

/* Finaliza sección Nuestra Vida-Obra */

/* FINAL HOJA DE ESTILOS DEL HOME - MAQUETA 1*/
/* Despues de las cards */
.-btn-conocer-proyectos {
    font-family: 'Roboto', sans-serif;
    color: rgba(3, 127, 67, 1);
    font-size: 16px;
    font-weight: 500;
    width: 326px;
    height: 50px;
    background:none !important ;
    border: 2px solid rgba(3, 127, 67, 1);
    border-radius: 25px;
    opacity: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.0em;
    padding: 0 25px 0 35px;
    margin: 53px 0;
}
    
.-centrar-boton-proyectos {
        display: flex;
        flex-direction: row;
        justify-content: center;
}

/* Fin Cards */

/* ****************************************************** */

/* INICIA HOJA DE ESTILOS DE PROJECTS-PRINCIPAL - MAQUETA 3*/



/*Elige una ciudad*/

.fondo_ciudad{
    background-image: url(../assets/images/Ellipse\ 210.png);
    height: 240px;
    width: 100%;
    margin: 25px 0 0 0;
    background-position: left;
    background-repeat: no-repeat;
}
.titulo_ciudad{
    color: #056232;
    font-family:'Roboto', sans-serif;
}
.boton_buscar_ciudad{
    border-radius: 25px;
    border: 2px solid #056232;
    background: white;
    width: 325px;
    text-align: left;
    height: 40px;
    cursor: url(../assets/images/iconmonstr-cursor-31.png), pointer;

}
.fondo_buscar_ciudad{
    color: #056232;
    padding-left: 10px;
    font-family: 'roboto',sans-serif;
    font-weight: bolder;
}
.pointer{
    cursor: url(../assets/images/iconmonstr-cursor-31.png), pointer
}
.opcion_ciudad{
    color: white;
    padding-right: 20px;
    background: #037F43;
    font-family: 'roboto',sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 8px !important ;
}

.btn_mas{
    float: right;
    padding: 5px 20px 0 0;
}
.img_pequeña_ciudad{
    float: left;
    margin: 5px;
}
.letra{
    font-family:'Roboto', sans-serif;
}
.titulo_ciudad{
    color: green;
}
.contenedor_ciudad{
    margin-top: 30px;
}
.hr{
    box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.75);
    width: 340px;
    height: 1px;
    margin: 0 15px;
}
/*Finaliza una ciudad*/

/*comienza busqueda avanzada*/
.fonde_busqueda_avanzada{
    background: #F9F5F3;
}
.img_busqueda_avanzada{
    width: 100%;
    padding: 0 !important;
}

/*Finaliza busqueda avanzada*/
/*Comienza sendero*/


.fondo_sendero{
    padding-top: 5%;
    background:#F9F5F3;
}
.img_sendero{
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 350px;
    cursor: url("../assets/images/iconmonstr-cursor-31-1.png"), pointer;
    
}
.img_sendero_pequeña{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 123px;
    cursor: url("../assets/images/iconmonstr-cursor-31.png"), pointer;
}
.img_parque_pequeña{    
    width: 85%;
    cursor: url("../assets/images/iconmonstr-cursor-31.png"), pointer;

}
.img_gimnasio_pequeño{
    width: 85%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: url("../assets/images/iconmonstr-cursor-31.svg"), pointer;

}
.titulo_ilarco{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #504741;
}
.titulo_bogota{
    font-family: 'Roboto', sans-serif;
    color: #504741;
}
.espacio_iconos_senderos{
    margin: 5px 5px;
    cursor: url("../assets/images/iconmonstr-cursor-31.png"), pointer;
}

.texto_momentos_inolvidables{
    color: #757577;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 13px;
    opacity: 0.5;
    margin: 15px 0 !important;
}
.contenedor_sendero{
    border-radius: 15px;
    background: #DED6CF;
}
.separador_sendero{
    width: 100%;
    opacity: 0.5;
}
.btn_ver_detalle{
    border-radius: 30px;
    background: transparent;
    border-color: #037F43;
    color: #037F43;
    font-family: 'roboto', sans-serif;
    font-weight: bolder;
    float: right;
    width: 50%;
    margin-top: 15px;
}
.letra_boton_detalle{
    float: left;
}
.flecha_boton_derecha{
    float: right;
    padding: 5px 10px 0 0;
    width: 15%;
}
.titulo_area_precio{
    font-family: 'roboto', sans-serif;
    color: #504741;
    font-weight: bold;
    font-size: 15px;
}
.desde_hasta{
    font-family: 'roboto', sans-serif;
    color: #504741;
    font-weight: bolder;
    font-size: 10px;

}
.precio_metros{
    font-family: 'roboto', sans-serif;
    color: #037F43;
    font-weight: bolder;
}
    /*finaliza sendero*/

/*comienza Resultado busqueda*/
.fondo_otros_proyectos{
    background: #F9F5F3;
    box-shadow: 0 4px 4px -1px gray;
    padding-bottom: 5%;
}
.fondo_resultado{
    background: #F9F5F3;
}

.espacio_entre_card_proyectos{
    height: 30px;
}
.quince{
    font-weight: bold;
}
.ocho{
    font-weight: bold;
    font-size:12px;
    color:#008C44;

}
.titulo-resultado-busqueda{
    color: #008C44;
    margin-bottom: 30px;
}
.titulo-resultado-busqueda-encontrados{
    color: #504741;
    font-weight: bolder;
    font-size:12px;

}
.separador_resultado_busqueda{
    width: 50%;
    opacity: 0.5;
}
/*finaliza Resultados busqueda*/
/*comienza otros proyectos*/
.titulo-otros-proyectos{
    color: #504741;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;

}
/*otros proyectos*/

/*comienza testimonio*/
.centrar_titulo{
    text-align: center;
    font-family:'Roboto', sans-serif;
    color: #504741;
}
.titulo_testimonio{
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    color:#504741;
}
.foto_galindo{
    float: left;
    border-radius: 100%;
    margin-right: 10px;
    width: 50%;
}
.nombre{
    color: #504741;
    font-family:'Roboto', sans-serif;
    margin-top: 10%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    float:left;
}
.texto_testimonio{
    font-family:'Roboto', sans-serif;
    text-align: justify;
    color: #504741;
}
.separador_testimonio{
    width:20%;
    opacity: 0.5;
}
.flecha_atras{
    float: right;
    text-align: center;
    margin-top: 50%;
    padding-right: 10%;

}
.flecha_adelante{
    float: left;
    text-align: center;
    margin-top: 50%;
    padding-left: 10%;
}
.comillas_izq{
float: left;
}
.comillas_dere{
    float: right;
}


/* ESTILOS CARLOS */
/* ESTILOS CARLOS */
/* ESTILOS CARLOS */
/* ESTILOS CARLOS */
/* ESTILOS CARLOS */
.body__sala__ventas {
    background-color: #F9F5F3 !important;
}
.texto__salas__venta{
    /* margin: 111px 594px; */
    /* width: 245px;
    height: 3px; */
    color: #504741;

    text-align: left;
    font: bold 28px/33px Roboto;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    opacity: 1;
}

.texto__selecciona__ciudad{
    /* margin: -70px 611px; */
    width: 181px;
    height: 21px;

    text-align: left;
    font: medium 18px/22px Roboto;
    letter-spacing: 0;
    color: #504741;
    opacity: 1;
}
.texto__seleccionado{
    /* margin: 70px 621px; */
    width: 51px;
    height: 21px;

    text-align: left;
    font: medium 16px/22px Roboto;
    letter-spacing: 0;
    color: #504741;
    opacity: 0.6;
}
.mapa__imagen {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.linea__seleccionar__ciudad{
    /* margin-top: -57px;
    margin-left: 594px; */
    width: 250px;
    height: 1px;
    border: 1px solid #E8C133;
    border-radius: 5px;
    opacity: 1;
}
.flecha__linea__seleccionar__ciudad{
    /* margin: -25px 217px; */
}

.row__sala__ventas {
    margin: 0% !important;
    background-color: #ECE5DE;
}

.mapa__salas__venta{
    background: url("../assets/images/Screen Shot 2019-09-16 at 6.27.59 PM.png");
    background-size: cover;
    /* padding-top: 5%; */
    /* width: 1373px; */
    /* height: 605px; */
}
.debajo__salas__ventas{
   background: #008C44;
   color: #008C44;
   /* width: 120%; */
   height: 140px;
}
.card__gratamira{
    /* margin: -100px 230px; */
}
.texto__card__avenida{
    margin-bottom: 30px;
}
/*finaliza testimonio*/

/*Comienza boletin*/
.fondo_boletin{
    background-color: green;
}

.titulo_boletin{
    font-family: roboto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin:0;
}
.texto_boletin{
    font-family: roboto;
    color: white;
    font-size: 1rem;
}
.correo{
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    margin-bottom: 0 !important;
    border-bottom-color: white;
}
.separador_correo{
    background-color: white;
    width: 100%;
    opacity: 0.5;
    margin: 0 0 10% 0;
}
.boton_boletin{
    color: #008C44;
    background: white;
    border: none;
    border-radius: 25px;
    height: auto;
    display: block;
    width: 100%;
}
.texto_btn_boletin{
    float: left;
    font-family: roboto;
    font-weight: bold;
    padding-left: 5px;
}
.flecha_dere_boletin{
    width: 16%;
    float: right;
    padding: 5px 8px 0 0;
}
.contenedor2card__gratamira{
    background: #008c44;
}

.card__gratamira__posicion{
    position: absolute;
    /* left: 100px;
    top: 115px; */   
}

.pocision__input__2{
    position: relative;
    left: 280px;
    top: 225px;
}
.as{
    border-radius: 30px;
}
.texto__numero{
    color: #008C44;
}
.fondo__card__gratamira{
    background: #037F43;
}
.fondo2__card__gratamira{
    background-image: url(../assets/images/Mask\ Group\ 77.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.letter__card__gratamira{
    text-align: left;
    font: Bold 16px/22px;
    font-family:'Roboto';
    letter-spacing: 0.54px;
    color: #FFFFFF;

    position: absolute;
    left: 20px;
    top: -2px;
}
.letter__2{
    text-align: left;
    font: 10px/22px;
    font-family:'Roboto';
    letter-spacing: 0.54px;
    color: #FFFFFF;
}
.text__abajo{
    color: #FFFFFF;
    text-align: left;
    font: Bold 16px/22px;
    font-family:'Roboto';

    position: relative;
    left: 150px;
    top: 20px;
    

}
.texto__correo{
    color: #FFFFFF;
    text-align: left;
    font: 16px/22px;
    font-family:'Roboto';

    position: relative;
    left: 520px;
    bottom: 27px;
    opacity: 0.3;
    
}
.line__input__correo{
    position: relative;
    left: 520px;
    bottom: 27px;
    width: 185px;
    height: 0.5px;
    background: white;

}
.pocision__boton{
     position: relative;
     left: 747px;
     bottom: 47px;
}

.btn__inscribirme{
    border-radius: 25px;
    background-color: white;
    color: #008C44;

    width: 190px;
    height: 43px;
    
}
/*finaliza boletin*/




select{ appearance:none !important; -webkit-appearance: none; -moz-appearance: none;}





/* 

 */
 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */



.testimonios__subtitle {
    text-align: center;
 }

 .img__plano__general{
     /* background-image: url(../assets/images/Image\ 55.png);
     background-repeat: no-repeat;
    background-size: cover; */
    /* height: 15vh; */
    width: 100%;
 }

 .img__ico__proyectos__1{
    background-image: url(../assets/images/Group\ 1576.svg);
    background-repeat: no-repeat;
    height: 6vh;
    width: 12vw;
    padding: 5%;
 }

 .img__ico__proyectos__2{
    background-image: url(../assets/images/Group\ 1570.svg);
    background-repeat: no-repeat;
    height: 6vh;
    width: 12vw;
    padding: 5%;
 }

 .img__ico__proyectos__3{
    background-image: url(../assets/images/Group\ 1577.svg);
    background-repeat: no-repeat;
    height: 6vh;
    width: 12vw;
    padding: 5%;
 }

 .img__ico__proyectos__4{
    background-image: url(../assets/images/Group\ 1571.svg);
    background-repeat: no-repeat;
    height: 6vh;
    width: 12vw;
    padding: 5%;
 }

 .img__ico__proyectos__5{
    background-image: url(../assets/images/Group\ 1277.svg);
    background-repeat: no-repeat;
    height: 6vh;

width: 12vw;
 }


 .img__slider{
    /* background-image: url(../assets/images/shutterstock_641525947.png); */
    background-repeat: no-repeat;
    height: 50vh;
 }

 .slider__controls__proyectos {
    width: 100%;
    text-align: center;
 }

select{ appearance:none !important; -webkit-appearance: none; -moz-appearance: none;}

.proyectos__multimedia {
    width: 100%;
}
.row__multimedia {
    width: 100%;
    margin: 0 !important;
}
.box__multimedia {
    width: 100%;
    align-content: center;
    padding: 25%;
    text-align: center;
}
.box__multimedia__text {
    color: #FFFFFF;
}


.img__recorridos360 {
    background-image: url(../assets/images/Image\ 36.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter:brightness(0.4);
    color: #FFFFFF !important;
    text-align: center; */
    padding-right: 1%;
 }

 .img__video{
    background-image: url(../assets/images/Image\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 1%;
 }

 .img__galeria{
    background-image: url(../assets/images/Image\ 38.png);
    background-repeat: no-repeat;
    background-size: cover;
 }

.container__plano {
    padding: 10% 5% 10% 5%;
}
.plano__title {
    font: Bold 28px/33px Roboto;
    letter-spacing: 1.68px;
    color: #504741;
    text-align: center;
}

.plano__title__caracteristicas {
    font: Bold 28px/33px Roboto;
    letter-spacing: 1.68px;
    color: #504741;
    text-align: left;
}
/* .plano__buttons {
    border: 1px solid #000000;
    width: 100%;
    text-align: center;
    border-radius: 1.25rem;
    height: 3vh;
} */

.container__mapa {
    
}

.container__pasa__voz {
    background-image: url(../assets/images/vozbig.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.row__voz {
    padding: 2% 0% 2% 0%;
    /* padding-top: 4%; */
}
.icon__content__voz {
    text-align: right;
}
.voz__icon {
    margin-top: 20%;
    justify-content: center;
}

.voz__title {
    text-align: left;
    color: #FFFFFF;
    font-size: 40px;
}
.vl {
    margin-top: 20%;
    border-left: 2px solid #ffffff;
    height: 100px;
}
.voz__content__info {
    margin-top: 1%;
    color: #FFFFFF;
}
.btn__voz {
    border-radius: 50px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background: transparent;
    padding: 2% 1%;
    width: 15vw;
    padding: 5px;
    height: 4vh;
    margin-top: 2% !important;
    padding-bottom: 5%;
    color: white;
}
.testimonio__image {
    width: 92px;
    height: 92px;
    border-radius: 150px;
    float: left;
}
.testimonio__nombre {
    margin-top: 7%;
    margin-left: 5%;
    text-align: center;
    float: left;
}
.testimonio__container {
    margin: 3% 0%;
}

.fondo__boletin{
    background-color: #008C44;
    padding: 40px 15%;
}

.fondo__boletin2{
    background-color: #008C44;
    padding: 2% 15%;
}

.correo::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}
.separador__correo {
    background-color: white;
    width: 100%;
    margin: 2% 0 0 0;
}

.container__form {
    margin-top: 5%;
    margin-bottom: 10%;
}

.sala__ventas__container {
    /* margin-left: 10%; */
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.sala__ventas__card {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 5px 9px #0000001A !important;
    border-radius: 80px;
}
.sala__text__container{
    background: #FFFFFF;
}
.horarios__sala {
    text-align: center;
    color: #FFFFFF;
    background: #008C44;

}

.texto__apartamentos1{
    position: relative;
    top: 5px;
    
}

.text__container__home {
    /* padding: 50% 30% 0% 30%; */
    width: 40%;
    margin-top: -10%;
    margin-left: 30%;

}

.home__card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 9px #0000001A;
    border-radius: 15px;
    /* height: 17vh; */
}

.w__card_apartamentos{
    
    position: relative;
    width: 37%;
    height: 33%;
    top: 85%;
    left: 60%;
    border-radius: 40px;
}

.w__card_apartamentos__border{
    border-radius: 40px;
    box-shadow: 0px 5px 9px #0000001A;
}

body {
    overflow-x: hidden;
}

.flecha__dere__referir{
    width: 13%;
    float: right;
    padding: 6px 8px 0 0;
    color: #FFFFFF;
}

.texto__btn__referir{
    float: left;
    font-family: roboto;
    font-weight: normal;
    padding-left: 30px;
    padding-bottom: 2%;
    
}

.title__pasa__voz{
    max-width: 15% !important;
}

.comentario__text__area{
    resize: none;
}

.form__margin{
    margin-top: 4%;
}

.--from__img__btn__enviar{
    width: 12%;
}

.--style-inputs-section-two{

    width: 222px; height: 30px;
     background-color: transparent; border: none; margin-top: 5px; border-bottom: solid 1px #FCDA5F;
      color:#A09995; font-size: 14px; ; 
}

.--title-inputs-section-two{
    color:#504741 ; font-size: 14px; font-weight: 700;
}


.--card__sala__ventas{
    border-radius: 1.25rem !important;
}

.--card2__sala__ventas{
    border-bottom-left-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;

}
.container__avance__obra {
    padding: 10% 0%;
}
.progress__bar__avance__obra {
    width: 50%;
    background-color: #E8C133 !important;
    height: 10em !important;
    z-index: 2;
    border-right: 2px solid #000;
}
.progress {
    height: 0.5em !important;
    background-color: #2F2F31 !important;
    z-index: 1;
}
.start__progress {
    float: left;
    font-size: 12px;
}
.end__progress {
    float: right;
    font-size: 12px;
}

.nav-link {
    background: transparent !important;
    color: #504741 !important;
    font-weight: normal;
}
.nav-pills .nav-link {
    border-radius: 0px !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent !important;
    border-bottom: 2px solid green !important;
    color: #504741 !important;
    font-weight: bold;    
}
.proyecto__logo {
    border-radius: 100%;
    width: 125px;
    height: 125px;
}
.castillo__texto {
    text-align: center;
}
.castillo__logo {
    display:block;
    margin:auto;
}

.comillas__izq {
    margin-top: -0%;
}

.comillas__dere {
    margin-top: 40%;
}

.sala__ventas__card_inf{
    margin-top: 3%;
}

.sala__ventas__card__border_sup{
    border-top-left-radius: 1.25rem !important;
    border-top-right-radius: 1.25rem !important;
}

.sala__ventas__card__border_inf{
    border-bottom-left-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
}

.title__card_sala__ventas{
    position: absolute; 
    bottom: 75%;
    z-index: 10;
    margin-left: 10%; 
    color: #FFFFFF; 
    font-size: 22px;
}

.selection__slide__progreso__proyecto{
    margin-left: 10%;
    margin-right: 5%;
}


.color__progressbar{
    background-color: #FCDA5F !important;
}

.avance__obra__separador{
    margin-top: 5%;
}

.control__iluminacion{
    font-size: 14px;
}

.caracteristicas__atributos{
    margin-top: 5%;
}

.caracteristicas__atributos__txt{
    margin-right: 25% !important;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px;
    border-radius: 5px;   
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px;
    border-radius: 50%;
    background: url('../assets/images/Recurso 4.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background: #4CAF50; Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    border-radius: 50%;
    background: url('../assets/images/Recurso 4.png');
    background-repeat: no-repeat;
    background-size: cover;

    /* background: #4CAF50; Green background */
    cursor: pointer; /* Cursor on hover */
  }


  .busqueda__image1{
      background: url('../assets/images/PlanoArribaG.png');
      background-size: cover;
  }
  .busqueda__image2{
    background: url('../assets/images/Image\ 40@2x.png');
    background-size: cover;
}

.background__image__apartament{
    background: url('../assets/images/Image\ 51@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.sala__ventas__info__horario {
    margin: 0px !important;
}

.child__tabs {
    background: #D5CDC8;
    border-radius: 15px 15px 0px 0px;
}

.child__tabs > .nav-item > .nav-link {
    background: red;
}

.card__apto__projects {
    margin: 0%;
    background: #D5CDC8;  
    border-radius: 0% 0% 15px 15px;
}

.card__apto__projects:active {
    margin: 0%;
}

.active {
    background: #E8E2DE;  
}


.aptos__proyectos__card__text__precio {
    color: #504741; 
    font-size: 16px;
}

.aptos__proyectos__card__text__title {
    color: #504741; 
    font-size: 40px;
    font-weight: bold;
}

.float__left__project {
    float: left;
}

.aptos__proyectos__card__text__title__2 {
    color: #504741; 
    font-size: 34px;
}
.tabs__apstos__proyectos {
    margin-left: 5%;
    margin-top: 10% !important;
}
.icon__apto__project {
    margin: 2% 0% 0% 3%;
    width: 46px;
    height: 30px;
}

.icon__apto__project__metros {
    margin: 2% 0% 0% 3%;
    width: 64px;
    height: 32px;
}

.carrouse__controls__date__container {
    padding-top: 50% !important;
    height: 20vh;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: transparent url("../assets/images/Component 1669 – 10.svg") 0% 0% no-repeat padding-box !important;
}
.controls__carrousel__slider {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.card__content__less__1000 {
    display: none;
}
@media (max-width: 1000px) {
    #card__sala__ventas {
        display: none;
    }
    #content__card__control {
        display: none;
    }
    .card__content__less__1000 {
        display: block;
    }
    .title_media_responsive{
       margin-left: 4% 
    }
}

@media (min-width: 981px) and (max-width: 1100px) {
    /* .select__margin__resposive{
        margin-right: 6%;
    } */
    /* .boletin__resposive{
        padding: 27px 0 0px 0px !important;
        
    } */
    .flecha_dere_boletin {

        width: 12%;
        float: right;
        padding: 5px 8px 0 0;
    
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {
    
    .flecha_dere_boletin {

        width: 12%;
        float: right;
        padding: 5px 8px 0 0;
    
    }
}

@media (min-width: 911px) and (max-width: 980px) {
    /* .select__margin__resposive{
        margin-right: 7.5% !important;
    } */
    .title_media_responsive{
        margin-left: 3% !important; 
     }
     /* .boletin__resposive{
        padding: 27px 0 0px 43px !important;
        
    } */
    .flecha_dere_boletin {

        width: 12%;
        float: right;
        padding: 5px 8px 0 0;
    
    }
}

@media (min-width: 767px) and (max-width: 910px) {
    /* .select__margin__resposive{
        margin-right: 9%;
    } */
    .title_media_responsive{
        margin-left: 3% !important;
     }
     /* .boletin__resposive{
        padding: 27px 0 0px 28px !important;
        
    } */
    /* .boletin__resposive__input{
        padding: 27px 0 0px 0px !important;
    } */
    .flecha_dere_boletin {

        width: 12%;
        float: right;
        padding: 5px 8px 0 0;
    
    }

    .boton_boletin {

        color: #008C44;
        background:white;
        border: none;
        border-radius: 25px;
        display: block;
    
    }
}

@media (max-width: 766px) {
    
    .title_media_responsive{
        margin-left: 10% !important;
     }
     /* .boletin__resposive{
        padding: 27px 0 0px 20px !important;
        
    } */
    /* .boletin__resposive__input{
        padding: 27px 0 0px 0px !important;
        
    } */

    .boton_boletin {

        color: #008C44;
        background:white;
        border: none;
        border-radius: 25px;
        display: block;
    
    }
    
    .flecha_dere_boletin {

        width: 12%;
        float: right;
        padding: 5px 8px 0 0;
    
    }
}

@media (min-width: 500px) and (max-width: 766px) {
    /* .select__margin__resposive{
        margin-right: 9%;
    } */
    .title_media_responsive{
        margin-left: 3% !important;
     }
     /* .boletin__resposive{
        padding: 27px 0 0px 28px !important;
        
    } */
    /* .boletin__resposive__input{
        padding: 27px 0 0px 0px !important;
    } */
    .flecha_dere_boletin {

        width: 18%;
        float: right;
        padding: 5px 8px 0 0;
    
    }
}

@media (max-width: 500px) {
    
    .boton_boletin {

        color: #008C44;
        background:white;
        border: none;
        border-radius: 25px;
        display: block;
    
    }
    
    .flecha_dere_boletin {

        width: 16%;
        float: right;
        padding: 5px 8px 0 0;
    
    }
}


.comillas__izq{
    margin-top: -22% !important;
    margin-left: -12% !important;
}

.comillas__dere{
    margin-left: 100% !important;
    margin-top: 12% !important;
}
.Noactive {

    background: #FFFFFF !important;

}

.card-body {

    padding: 1rem !important;
    border-bottom-left-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
}

.home__container__proyectos {
    background: #F9F5F3;
    padding-top: 5%;
    padding-left: 10%;
}
.proyecto__vivienda__text__line {
    width: 100%;
    display: inline-block;
}
.entrega__inmediata__proyectos {
    background: #FCDA5F;
    border-radius: 5%;
    text-align: center;
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
}

.icon__subsidio__proyectos {
    float: left;
    margin-top: -5%;
}

.text__icon__subsidio__proyectos {
    float: left;
    color: #008C44;
    padding-left: 10%;
}

.image__home {
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
}

.text__home__proyectos {
    margin-top: 5%;
}

.container__aptos__contenedor {
    background:#F9F5F3;
}
.tabd__content__cards__aptos {
    background: #F9F5F3 !important;
    padding-right: 0% !important;
}

.iluminacion__plano__proyectos {
    text-align: center;
    border: 1px solid #000;
    width: 80%;
    border-radius: 13px 13px 13px 13px;
    -moz-border-radius: 13px 13px 13px 13px;
    -webkit-border-radius: 13px 13px 13px 13px;
}

.row__items__iluminacion {
    justify-content: center;
    width: 100%;
}

.item__iluminacion {
    border-bottom: none;
}

.nav-pills .link__iluminacion.active {
    border-bottom: none !important;
    background: #FCDA5F !important;
}

.nav-pills .link__mac.active {
    border-radius: 13px 0px 0px 13px !important;
    -moz-border-radius: 13px 0px 0px 13px !important;
    -webkit-border-radius: 13px 0px 0px 13px !important;
}

.nav-pills .link__pro {
    /* border-radius: 13px 13px 13px 13px !important;
    -moz-border-radius: 13px 13px 13px 13px !important;
    -webkit-border-radius: 13px 13px 13px 13px !important; */
}

.nav-pills .link__ilu {
    border-radius: 0px 13px 13px 0px !important;
    -moz-border-radius: 0px 13px 13px 0px !important;
    -webkit-border-radius: 0px 13px 13px 0px !important;
}

.row {
    margin-right: 0% !important;
}
.voz__boton__separacion {
    display: none;
}
.w__card_apartamentos__responsive{
    display: none !important;
}


/* RESPONSIVE SMARTPHONE */
@media (max-width: 720px) {
    .avance__hogar {
        text-align: center;
    }
    .container__pasa__voz {
        background-image: url(../assets/images/AdobeStock_181205632.png);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
    .icon__content__voz, .linea__pasa__voz, #carouselControlsTestimonio, .otros__proyectos__cards {
        display: none;
    }
    .title__pasa__voz {
        margin-left: 20%;
        margin-top: 20%;
    }
    .voz__content__info {
        margin: 0% 20% 12% 20%;
    }
    .btn__voz {
        width: 100%;
        margin-bottom: 20%;
    }
    .voz__boton__separacion {
        display: block;
    }
    .btn__voz {
        padding-bottom: 15% !important;
    }
    .row__items__iluminacion {
        margin-left: 0% !important;
    }
    .link__mac, .link__pro, .link__ilu {
        font-size: 11px;
    }
    .iluminacion__plano__proyectos {
        width: 100%;
    }
    .plano__title {
        text-align: left;
    }
    .caracteristicas__iluminacion__title {
        padding: 10%;
        padding-bottom: 0% !important;
    }
    .px-3 {
        padding: 0% !important;
    }
    .tabs__apstos__proyectos {
        padding: 0% !important;
    }
    .proyecto__logo {
        width: 60px;
        height: 60px;
    }
    .castillo__logo {
        width: 20px !important;
        width: 30px !important;
    }
    .home__container__proyectos {
        display: none;
    }
    .image__home {
        border-radius: 0px 0px;
        margin-left: 0%;
    }
    .home__card {
        margin: -25% 20% 0% 20%;
    }
    .texto__alejandria__responsive {
        margin: 0% 20% 10% 20%;
        width: 60%;
    }
    .background__image__apartament {
        border-radius: 0px 0px;
    }
    .tabs__aptos__responsive {
        margin-top: 5%;
    }
    .aptos__title__responsive {
        margin-left: 5%;
    }
    .tabs__aptos__responsive {
        align-content: center;
    }
    .castillo__texto {
        font-size: 11px;
    }
    .text__icon__subsidio__proyectos {
        font-size: 11px;
    }
    .icon__subsidio__proyectos {
        margin-left: 35%;
    }
    .ubicacion__title__responsive {
        display: none;
    }
    
    .container__buttons__controls__slider {
        float: right;
    }
    .form__responsive__sala {
        justify-content: center;
        margin-left: 16%;
    }
    .w__card_apartamentos {
        display: none !important;
    }
    .card__apto__projects {
        padding-left: 7% !important;
    }
    .area__construida__borde__inferior__superior {
        border-bottom: 0.3px solid #504741;
    }
    .area__construida__borde__lateral__derecho {
        padding-top: 3%;
        border-right: 0.3px solid #504741;
        text-align: center;
    }
    .area__construida__borde__lateral__izquierdo {
        padding-top: 3%;
        text-align: center;
    }
    .icon__apto__project__metros {
        margin: auto !important;
        float: none;
    }
    .sala__ventas__title__resp {
        margin-left: 10%;
        margin-top: 10%;
    }
    .w__horarios__sala {
        text-align: center;
        color: #FFFFFF;
        background: #008C44;
        width: 130%;
        height: 121%;
        position: relative;
        right: 20px;
        border-radius: 0% 0% 15% 15%;
    } 
    .card__home__responsive__actions {
        /* height: 200px !important; */
        z-index: 0;
        /* background: red; */
    }
    .w__card_apartamentos__responsive{
        display: block !important;
        -webkit-box-shadow: 0px 2px 12px -0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 12px -0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 12px -0px rgba(0,0,0,0.2);
    }
    .a.customdatademo {
        display: none;
    }
    a.customdatademo:hover::after {
        display: none;
    }
    .container__final__responsive__apto__icons {
        display: block !important;
        width: 100%;
    }
    .row__icons__aptos__ref {
        margin-left: 0% !important;
    }
    .aptos__proyectos__card__text__title  {
        text-align: center;
        margin-left: 12% !important;

    }
}

.container__final__responsive__apto__icons {
    display: none;
}

.btn__voz__refactor {
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    border-radius: 25px !important;
    width: 100% !important;
}
.flecha__dere__referir__refactor {
    width: 13%;
    margin-left: 20%;
}

a.customdatademo {
    position: relative;
}

a.customdatademo:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -150px;
    left: 10px;
    min-width: 200px;
    border: 1px #FCDA5F solid;
    padding: 20px;
    color: green;
    background-color: #FCDA5F;
    z-index: 1;
    border-radius: 6px;
    box-shadow: 9px 9px 14px #0000001A;
}

a.customdatademo span:before {
    border-top: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -80px;
}

.static__tooltip {
    display: none; 
    background: #FCDA5F;
    color: green;
    padding: 5% 10%;
    margin-bottom: 5%;
    margin-left: -4%;
}

.w__horarios__sala {
    text-align: center;
    color: #FFFFFF;
    background: #008C44;
    width: 130%;
    height: 121%;
    position: relative;
    right: 20px;
    border-radius: 0% 0% 15% 15%;
}
.w__card_apartamentos__responsive{
    display: block;
    -webkit-box-shadow: 0px 2px 12px -0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 12px -0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 12px -0px rgba(0,0,0,0.2);
}

.landscape__separator__aptos {
    display: none;
}

@media (min-width: 720px) and (max-width: 960px) {
    .landscape__separator__aptos {
        display: block;
        padding: 5%;
    }
    .slide__tamaño__responsive{
        text-align: left;
        margin-left: 5%;
    }

    .slide__controles_tamaño_responsive{
        margin-left: 40%;
    }

    .apartamento_responsive {
        margin-top: 10%;
    }
}

.slider__controls__proyectos {
    width: 100%;
    justify-content: center;

}
.slide__tamaño__responsive{
    text-align: left;
    margin-left: 5%; 
}
.slide__controles_tamaño_responsive{
    margin-left: 40%;
}

@media (min-width: 721px) {
    .home__container__proyectos {
        display: block;
    }
    #home__page__is__responsive {
        display: none;
    }

}

#home__page__is__responsive {
    background: #EBDED5;
}

.w-100 {
    height: 55vh !important;
}

.testimonio__tamaño{
    height: 25vh !important;
}

.nav-pills .subcard__active__info.active {
    border: 1px solid transparent !important;
    background-color: #E8E2DE !important;
}

.ABstart__tab {
    border-radius: 15% 0% 0% 0% !important;
}

.boton__descargar__folleto {
    margin-top: 6%;
    margin-left: 5%;
    background: green !important;
    color: #ffffff !important;
    white-space: nowrap;
    border-radius: 24px 24px 24px 24px !important;
}
.icons__folleto__descargar {
    margin-left: 2% !important;
}

.comillas__izquierda__arriba {
    width: 13%;
    position: relative;
    bottom: 5px;
    left: 5px;
    margin: -5% 0% 0% -5%;
}




@media (min-width: 359px) and (min-width: 361px) {
    .comillas__izquierda__arriba {
      
    }    
    .comillas__derecha__abajo {
        
    }
}


.comillas__derecha__abajo {
    width: 13%;
    position: relative;
    left: 1px;
    top: 67px;
    margin: 5% 0% 0% 90%;
}
.card__body__text__home {
    margin: -6% 10%;
}

/* ESTILOS CARLOS */
/* ESTILOS CARLOS */
/* ESTILOS CARLOS */
/* ESTILOS CARLOS */
/* ESTILOS CARLOS */


.img__slide__filter{
    /* background: url('../assets/images/shutterstock_641525947.png'); */
    background-image:url('../assets/images/shutterstock_641525947.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    
}


.container__card__initial__content{
    width: 32vw;
    height: 14vh;
    padding: 4%;
    border-radius: 1.25rem !important;
}


.container__card__initial__content__text{
    margin-top: -10%;
}

@media (max-width: 840px) {
    .container__card__initial__content{
        width: 32vw !important;
        height: 19vh !important;
        padding: 4% !important;
        border-radius: 1.25rem !important;
    }
    
    
    .container__card__initial__content__text{
        margin-top: -10% !important;
    }
} 

/* 
@media (max-width: 1024px) {
    .comilla__izquierda__responsive{
        margin-left: 19% !important;
        position: absolute;
        z-index: 5;
        margin-top: 5% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 73% !important;
        position: absolute;
        z-index: 5;
        margin-top: 92% !important;
    }
}


@media (max-width: 980px) {
    .comilla__izquierda__responsive{
        margin-left: 17% !important;
        position: absolute;
        z-index: 5;
        margin-top: -27% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 77% !important;
        position: absolute;
        z-index: 5;
        margin-top: -6% !important;
    }
}





@media (max-width: 560px) {
    .comilla__izquierda__responsive{
        margin-left: 19% !important;
        position: absolute;
        z-index: 5;
        margin-top: -27% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 75% !important;
        position: absolute;
        z-index: 5;
        margin-top: -5% !important;
    }
}

@media (max-width: 520px) {
    .comilla__izquierda__responsive{
        margin-left: 17% !important;
        position: absolute;
        z-index: 5;
        margin-top: -27% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 77% !important;
        position: absolute;
        z-index: 5;
        margin-top: 2% !important;
    }
}

@media (max-width: 500px) {
    .comilla__izquierda__responsive{
        margin-left: 17% !important;
        position: absolute;
        z-index: 5;
        margin-top: -27% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 77% !important;
        position: absolute;
        z-index: 5;
        margin-top: 4% !important;
    }
}


@media (max-width: 414px) {
    .comilla__izquierda__responsive{
        margin-left: 19% !important;
        position: absolute;
        z-index: 5;
        margin-top: -28% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 73% !important;
        position: absolute;
        z-index: 5;
        margin-top: 8% !important;
    }
}


@media (max-width: 400px) {
    .comilla__izquierda__responsive{
        margin-left: 17% !important;
        position: absolute;
        z-index: 5;
        margin-top: -27% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 77% !important;
        position: absolute;
        z-index: 5;
        margin-top: 10% !important;
    }
}


@media (max-width: 375px) {
    .comilla__izquierda__responsive{
        margin-left: 19% !important;
        position: absolute;
        z-index: 5;
        margin-top: -28% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 72% !important;
        position: absolute;
        z-index: 5;
        margin-top: 18% !important;
    }
}



@media (max-width: 360px) {
    .comilla__izquierda__responsive{
        margin-left: 19% !important;
        position: absolute;
        z-index: 5;
        margin-top: -28% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 72% !important;
        position: absolute;
        z-index: 5;
        margin-top: 27% !important;
    }
}

@media (max-width: 320px) {
    .comilla__izquierda__responsive{
        margin-left: 19% !important;
        position: absolute;
        z-index: 5;
        margin-top: -28% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 71% !important;
        position: absolute;
        z-index: 5;
        margin-top: 40% !important;
    }
}

@media (max-width: 768px) {
    .comilla__izquierda__responsive{
        margin-left: 90% !important;
        position: absolute;
        z-index: 5;
        margin-top: -28% !important;
    }
    .comilla__derecha__responsive{
        margin-left: 71% !important;
        position: absolute;
        z-index: 5;
        margin-top: 40% !important;
    }
} */






