/* INICIO HOJA DE ESTILOS DEL HOME - MAQUETA 1*/
 *{ 
     font-family: Roboto, sans-serif;
        zoom: 100%;
 }

html, body {
    margin: 0;
    padding: 0;
}

     body { width: 100%; }

p { margin: 0 !important; }
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
.-fondoHome {
    background-image: url(../assets/images/Image\ 90.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vw;
    width: 100%;
    min-width: 90%;
}
.-texto-alejandria { padding-left: 20px;}
 .-row-home{ width: 100%; height: 100%; margin: 0 !important;}
.-texto-familia {padding-top: 15px;}
.-pdd-0-i { padding: 0 !important;}

.-proyectos-bogota {
    background: transparent linear-gradient(156deg, #00B245 0%, #008C44 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #50474134;
    border-radius: 15px;
    opacity: 1;
    width: 372px;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding:5px;
}



.-bogota {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.-imgcastillo {
    width: 33px;
    height: 46px;
    margin-left: 23px;
    margin-right: 15px;
}


.-content-bg-card { background-color: white; border-top-left-radius: 15px; border-top-right-radius: 15px;}
.--btn-rotate-card-section-two { background-color: transparent; border: none; width: 70px; margin: 0 auto;}

.-en {
    font-size: 16px;
    font-weight: 400;
}
.-hr-card { width: 90%; border: 1px solid #D3CDC7; margin: 15px auto;}

.-imgflecha {
    width: 20px;
    height: 14px;
    margin-left: 101px;
    margin-right: 13px;
}
button:focus {outline:0;}
.-col-home-left { width: 100%; height: 100%; display: flex !important; flex-direction: column;}
.-contenedor-alejandria {
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    opacity: 1;
    width: 372px;
    height: 411px;
    margin: 25px auto 0 auto;
    background-color: #F9F5F3;

}
.-p-center { height: 475px;width: 372px; margin: auto; margin-bottom: -80px; }
.-col-left-home{ height: 100% !important;}

.-texto-alejandria {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.56px;
    color: rgba(80, 71, 65, 1);
    opacity: 1;
    text-align: left;
    padding-top: 16px;
    margin-left: 12px;
    margin-right: 20px;
    width: 50%;
}
.-font-size-12-i { font-size: 12px !important;color:  rgba(80, 71, 65, 1); ;
    font-size: 16px;
    }

.-zona-norte {
    font-family:  'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(80, 71, 65, 1);
    width: 50%;
}
.-row-card-back { width: 100%; display: flex; padding-left: 15px;}
.-row-card-back-button { width: 100%; display: flex; }

.-row-card-back-left { width: 60%; display: flex; flex-direction: column;}
.-row-card-back-right { width: 40%; padding-left: 15px;}
.-price-small { color: white; font-size: 10px; font-weight: 700; width: 80px; margin: 0 auto; }
.-price-large { color: white; font-size: 16.5px ; font-weight: 700;}
.-price-large-m { color: white; font-size: 14px ; font-weight: 700; }
.-hr-border-right { border-right: solid 1px rgba(255, 255, 255, 1); padding-right: 10px;}
.-subtext-card-back { font-size: 10px; color: white; text-align: center; padding-left: 15px;}
.-pdd-left-small { padding-left: 10px !important;}
.-zona {
    font-weight: 400;
}
.-btn-green-card-back { width: 85%; margin: 0 auto; border: solid 2px white; height: 40px ; background-color: transparent; border-radius: 24px; color: white;}
.-mg-top-25{margin-top: 20px !important;}
.-mg-top-15 { margin-top: 15px !important;}
.-chico {
    font-weight: bold;
}
.-back-card-verde { 
    width: 100%;
    height: 224px;
    background-color:rgba(0, 140, 68, 1) ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px 0 20px 0px ;

}
.-bogota-zona-norte {
    display: flex;
    flex-direction: row;
    background-color: #F9F5F3;
    justify-content: space-between;
    padding: 15px 20px 0px;
}

.-iconos-chico {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    

}
/* Inicio Sección Encuentra tu Hogar Soñado*/
.-hogar-sonado {
   padding: 200px 0;
}

.-encuentra {
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: rgba(5, 98, 50, 1);
    text-transform: uppercase;

}
.--container-fluid-section-two-soñado { 
    padding: 0 10% !important; background-color:#F9F5F3 ;
}
.-hogar {
    font-family: 'Roboto',sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(5, 98, 50, 1);
    text-transform: uppercase;
}

.-p-hogar-ideal {
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
}

.-centrar-hogar {
    text-align: center;
}

.-ciudad-sector {
    width: 556px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.-precio-area {
    width: 556px;
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    opacity: 1;
}
/* Final Sección Encuentra tu Hogar Soñado*/
.--container-fluid-section-project { 
    padding: 20px 10% !important;
}
.--btn-contact-layout-image { 
    width: 9vw;
   
}
.--desde_text_small { color: #504741; font-size: 3vw; font-weight: 400; margin-top: -5px;}
.-p-icon-alejandria { 
    margin: 0 10px 0;
}
.-content-text-right-image { 
    padding-left:15px  ; display: flex; flex-direction: column;
}
.--btn-contact-layout { 
   border-radius: 75px; background-color: transparent;
    position: sticky; bottom: 150px; left: 93%; border: none; display: flex; justify-content: center; align-items: center;
}
.-btn-descubrir {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.-content-arrows-card-cali-home { width: 100%; display: flex; justify-content: space-between; padding: 20px 30px 0 10px !important;}
.-text-cali-green-card { color:#008C44 ; font-size: 26px; font-weight: 700; margin: 15px 0 0 15px;}
.-content-card-cali-icon { width: 100%; display: flex;}
.-text-green-card-cali-home {color: #008C44; font-size: 18px; font-weight: 700; letter-spacing: 1.08px;}
.-text-gray-card-cali-home {color: #504741; font-size: 16px; font-weight: 400; letter-spacing: 1.28px;}
.-btn-mas {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    width: 245px;
    height: 40px;
    background: #008C44 !important ;
    border: none;
    border-radius: 40px;
    opacity: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.0em;
    padding: 0 25px 0 20px;
    margin: 15px auto 0;
   
}
 .-p-card-right-home { width: 469px; height:205px; margin: auto auto 0;  margin-bottom: -105px; }
 .-content-left-card-cali { width: 50%; height: 100%; padding: 30px 0 0 20px} 

.-contenedor-cali {
    width: 469px;
    height: 205px;
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    opacity: 1;
    display: flex;
}

.-AdobeStock_202503070 {
    width: 50%;
    height: 100%;
}
.-images-card-cali{ height: 100%; width: 100%; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}


-img-grupo-891 {
    background: transparent url('img/Group 891.png') 0% 0% no-repeat padding-box;
opacity: 1;

}

.-texto-familia{
    background-color: #F9F5F3;
}

.-texto-familia p{
    text-align: left;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.56px;
    color: rgba(80, 71, 65, 1);
    background-color: #F9F5F3;
}



.-precio-alejandria {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: rgba(80, 71, 65, 1);
}

.-precio-cop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.-titulo-proyectos {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgba(5, 98, 50, 1);
    font-weight: 800;
}

.-texto-hogar {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
    text-align: left;
    margin-bottom: 35px !important;
}
.-propiedades {
    width: 70%;
    height: 317px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.-header-card-back { 
    height: 93px;
    width: 100%;
    background-color:rgba(229, 224, 219, 1) ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
    padding: 25px 30px;
    display: flex;
}

.-content-info-card-back { display: flex; flex-direction: column; padding-left: 20px;}


/* Inicia Proyectos */

.-titulo-proyectos{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.-texto-hogar {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
}

/* Inicio Cards */
.card { 
    border: none !important;
}

.-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-aroun;
    margin: auto;
}
.-p-card-end { width: 100%; height: 50%; margin: 75% 0 0 0 ; display: flex; flex-direction: column;  padding: 0 25px 20px; }

.-card-body1 {
    width: 236px;
    height: 317px;
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/Image4.png);
    position: relative;
    background-size: cover;
    background-position: center;
}
.insignia-card { 
  
    color: white;
    padding-left: 10px;
    font-size: 11px;
    width: 100px;
    border-radius: 15px;
    background-color: rgba(128, 51, 232, 1);
}
.-insignia-card-three { 
    color: rgba(80, 71, 65, 1);
    padding-left: 10px;
    font-size: 11px;
    width: 130px;
    border-radius: 15px;
    background-color: rgba(252, 218, 95, 1);

}

.-card-body2-1{ 
    width: 236px !important;
}
.-card-body2 {
    width: 236px !important;
    height: 317px;
    
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/ilarco_114-img1.png);
    position: relative;
    background-size: cover;
    background-position: center;
}

.-card-body3 {
    width: 236px;
    height: 317px;
    
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/alto-living-foto-ago-2-2019@2x.png);
    position: relative;
    background-size: cover;
    background-position: center;
}

.-card-body4 {
    width: 236px;
    height: 317px;
    
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/mirla-img_1-amp@2x.png);
    position: relative;
    background-size: cover;
    background-position: center;

}

.-card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    background: #F9F5F3;
  }
  
  .-card-front {
    transform: rotateY(0deg);
  }
  
  .-card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .-card-flip:hover .-card-front {
    transform: rotateY(-180deg);
  }
    
  .-card-flip:hover .-card-back {
    transform: rotateY(0deg);
  }

  .-card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    
    
  }

  .-card-zona {
      margin-top: -5px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    display: block;
  }

  .-card-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .-card-subzona {
      margin-top: -7px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }
  /* Fin Cards */

/*  Finaliza Proyectos*/



/* Inicia Pasa la Voz */
.-pasa-voz {
    margin-bottom: 0;
    margin-top: 50px;
}

.-fondo-voz {
    background-image: url(../assets/images/AdobeStock_181205632.png);
    background-size: cover;
    height: 630px;
    width: 100%;
    padding: 0 !important;
}

.-pasa {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
}

.-voz {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(80, 71, 65, 1);
    margin-top: -10px;
}

.-parrafo-voz {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
    padding: 0 50px 0 30px;
}

.-iconos-celu {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.bg__image__voz { background-color: rgba(249, 245, 243, 1); padding: 0 !important;}

.-btn-pasa-voz {
    font-family: 'Roboto', sans-serif;
    color: rgba(3, 127, 67, 1);
    font-size: 16px;
    font-weight: 500;
    width: 288px;
    height: 50px;
    background:none !important ;
    border: 2px solid rgba(3, 127, 67, 1);
    border-radius: 25px;
    opacity: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.0em;
    padding: 0 25px 0 35px;
    margin: 30px 0 0 0;
}

.-centrar-boton-referir {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Finaliza Pasa la Voz */



/* Inicia sección Nuestra Vida-Obra */
.-fondo-rama {
    background-image: url(../assets/images/AdobeStock_202248905.png);
    width: 100%;
    height: 360px;
}

.-centrar-vida-obra {
    width: 50%;
}

.-vida {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    width: 310px;
    margin: 0 auto;
    margin-top: 100px;
}

.-obra {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    width: 310px;
    margin: 0 auto;
}

.-btn-conocenos {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    width: 310px;
    height: 50px;
    background:none !important ;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 25px;
    opacity: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.0em;
    padding: 0 25px 0 35px;
    margin: 0 auto;
}
.--content-selects-section-two { width: 100%; display: flex; justify-content: space-between; padding: 0 10%; ;}
.--title-selects-section-two { color:#504741 ; font-size: 14px; font-weight: 700;}
.--content-right-section-two{ width: 100%; height: 100%; }
.section_life { width: 100%; height: 25vw; background: url(../assets/images/AdobeStock_202248905.png); background-size: cover;}
.text_section-life { width: 100%; color: white; font-size: 400; font-size: 40px; text-transform: uppercase; display: block;}
.btn-meet { display: flex; justify-content: space-between; padding: 0 25px; align-items: center; width: 294px; height: 50px; border: none; border: solid 2px white; border-radius: 25px; background-color: transparent; color: white; font-size: 16px; font-weight: 400; }
.p-center__text { width: 50%;}
.content__center { width: 50%; margin: 0 auto; padding-top: 60px;}
.mg-top-40 { margin-top: 40px;}
.mg--top-10 {margin-top: -10px; }
.mg--bot-5 { margin-bottom: -5px !important;}
.mg--top-5 { margin-top: 7px !important;}
.pdd--box { padding: 20px 0 20px 20px}
.d-block { display: block !important; }
.-row-sub-card-back { width: 100%; display: flex; justify-content: space-between;}
.--style-selects-section-two { width: 222px; height: 30px;
     background-color: transparent; border: none; margin-top: 5px; border-bottom: solid 1px #FCDA5F;
      color:#A09995; font-size: 14px; background: url(../assets/images/arrow-bot-marron.svg) no-repeat right; } 

.--d-flex-column { display: flex; flex-direction: column !important; margin: 0 2%;}
.--card-right-section-two-white { width: 100%; padding: 20px; border-radius: 15px;
     box-shadow: 0px 20px 30px #00000026; background-color: white;
     margin: 30px 5%; 
    }
.--pdd-left-card-section-two { padding-left: 2%;}
.--row-grid-card {width: 100%; display: grid; grid-template-columns: repeat(4, 25%);}
.--text-small-card-section-two { color: #504741; font-size: 11px ; font-weight: 400; }
.--w-100-i { width: 90% !important; margin: 0 auto 0 0; }
.--image-cop-card-section-two { width: 46px; height: 30px; margin: 0 auto;}
.--container-btn-rotate { width: 110px; height: 30px; border: solid 2px #504741; border-radius: 4px; margin: 5px auto; }
.--tac { text-align: center;}
.--content-left-btn-rotate{ width: 47%; height: 100%; background-color: #FCDA5F;}
.--content-mid-btn-rotate{ width: 6%; height: 100%; background-color: #504741; opacity: 0.15;}
.--content-right-btn-rotate { width: 47%; height: 100%; background-color: #F8F6F4;}
.--pdd-left-card-section-two-btn-rotate { padding: 15%; }
.--image-pies-card-section-two { width: 60px; height: 55px; margin: 0 auto;}
.--container-search-green-section-two {width: 100%;  margin:  0 5%; display: flex; justify-content: flex-end;}
.--style-search-section-two { display: flex; align-items: center; padding-left: 30px; border: none; width: 270px; height: 48px; background-color:#008C44; border-radius: 30px; box-shadow: 0px 3px 6px #00000029;}
.--style-search-section-two input[type=search]::placeholder {  color: white; font-size: 16px; font-weight: 500; }
.-input-search-green-section-two { cursor: pointer; background-color: transparent; width: 80%; border: none; color: white;}
.btn-icon-search { background-color: transparent; cursor: pointer; border: none;}
/* Finaliza sección Nuestra Vida-Obra */

/* FINAL HOJA DE ESTILOS DEL HOME - MAQUETA 1*/
/* Despues de las cards */
.-btn-conocer-proyectos {
    font-family: 'Roboto', sans-serif;
    color: rgba(3, 127, 67, 1);
    font-size: 16px;
    font-weight: 500;
    width: 326px;
    height: 50px;
    background:none !important ;
    border: 2px solid rgba(3, 127, 67, 1);
    border-radius: 25px;
    opacity: 1;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.0em;
    padding: 0 25px 0 35px;
    margin: 53px 0;
}
    
.-centrar-boton-proyectos {
        display: flex;
        flex-direction: row;
        justify-content: center;
}

/* Fin Cards */

/* ****************************************************** */

/* INICIA HOJA DE ESTILOS DE PROJECTS-PRINCIPAL - MAQUETA 3*/



/*Elige una ciudad*/

/* .fondo_ciudad{
    background-image: url(../assets/images/Ellipse\ 210.png);
    height: 240px;
    width: 100%;
    margin: 25px 0 0 0;
    background-position: left;
    background-repeat: no-repeat;
} */
.titulo_ciudad{
    color: #056232;
    font-family:'Roboto', sans-serif;
}
.boton_buscar_ciudad{
    border-radius: 25px;
    border: 2px solid #056232;
    background: white;
    width: 325px;
    text-align: left;
    height: 40px;
    cursor: url(../assets/images/iconmonstr-cursor-31.png), pointer;

}
.fondo_buscar_ciudad{
    color: #056232;
    padding-left: 10px;
    font-family: 'roboto',sans-serif;
    font-weight: bolder;
}
.pointer{
    cursor: url(../assets/images/iconmonstr-cursor-31.png), pointer
}
.opcion_ciudad{
    color: white;
    padding-right: 20px;
    background: #037F43;
    font-family: 'roboto',sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 8px !important ;
}

.btn_mas{
    float: right;
    padding: 5px 20px 0 0;
}
.img_pequeña_ciudad{
    float: left;
    margin: 5px;
}
.letra{
    font-family:'Roboto', sans-serif;
}
.titulo_ciudad{
    color: green;
}
.contenedor_ciudad{
    margin-top: 30px;
}
.hr{
    box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.75);
    width: 340px;
    height: 1px;
    margin: 0 15px;
}
/*Finaliza una ciudad*/

/*comienza busqueda avanzada*/
.separador_btn_mapa_lista{
    background: white;
    width: 45%;
    opacity: 100%;
    margin-left: 80px;
}
.padding_titulo_mapa_lista { 
    padding: 15%; 
}

.titulo_mapa_lista_precio{
    color:#504741 ; 
    font-size: 14px; 
    font-weight: 700;

}
.contenedor_mapa{
   width: 47%; 
   height: 100%; 
   background-color: white;
}
.contenedor_lista{
   width: 47%; 
   height: 100%; 
   background-color: #FCDA5F;

}
.contenedor_mapa_lista{
     width: 184px;
     border: solid 2px #504741; 
     border-radius: 4px; 
     margin: 5px 80px; 
     display: flex; 
     flex-direction: row;
}
.contenedor_btn_buscar{
    display: flex; 
    flex-direction: row;
    margin: 5px 80px; 
}
.organizar_filas{
    width: 100%; 
    display: grid;
    grid-template-columns: repeat(4, 25% 25% 20% 30%);

}
.ancho{
     width: 100% !important; 
     margin: 0 auto 0 0; 

}
.flex_column{
   display: flex; 
   flex-direction: column !important; 
   margin: 0 2%;
}
.texto_desde_hasta{
   color: #504741; 
   font-size: 11px ; 
   font-weight: 400; 
}
.estilo_select{
    width: 250px; height: 30px;
    background-color: transparent; 
    border: none; 
    margin-top: 5px; 
    border-bottom: solid 1px white;
    color:#A09995; 
    font-size: 14px; 
    background: url(../assets/images/arrow-bot-marron.svg) no-repeat right; 
    opacity: 100%;

}
.boton_buscar{
    background: #05AC56;
    border-radius: 20px;
    border: none;
    width: 184px;
    height: 30px;
}
.mover_lupa{
    float: right;
    padding: 2px 10px;
}
.letra_btn_buscar{
    color: white;
    font-size: 14px;
    float: left;
    padding-left: 10px;
    font-weight: 300;
    font-family: 'roboto', sans-serif;
}
.btn_otros_filtros{
    border: #504741 solid 1.5px;
    border-radius: 5px;
    background: white;
    font-size: 14px;
    font-family: 'roboto',sans-serif;
    font-weight: bold;
    color: #504741;
    width: 100%;
}
.estilo_selector_bogota{
    background: transparent;
    border: none;
    background: url(../assets/images/arrow-bot-marron.svg) no-repeat right; 
    width: 70px;
    color: #504741;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.ancho_contenedor_castillo{
    width: 50%;
}

.centrar_castillo{
    padding-top: 25px ;
    padding-left: 75px !important;
}
.ancho_selector{
    width: 80% !important; 

}
.odenar_columna { 
    display: flex; 
    flex-direction: column !important; 
    margin: 0 2%;
    padding-top: 35px;
}
.pad_img_castillo{
   padding-left: 7px;
}

.estilo_selector{
     width: 222px; 
     height: 30px;
        background-color: transparent; 
        border: none; margin-top: 5px; 
        border-bottom: solid 1px white;
         color:#A09995; 
         font-size: 14px; 
         background: url(../assets/images/arrow-bot-marron.svg) no-repeat right; 
         opacity: 60%;
}
.text_selector_busqueda{
     color: #504741; 
     font-size: 16px ; 
     font-weight: bold;

}
.fonde_busqueda_avanzada{
    background: #F9F5F3;
    width: 100%;
    padding: 0 !important;
}
.img_busqueda_avanzada{
    width: 100%;
    padding: 0 !important;
}
.section-drop-down-more-filters {
    padding: 25px 0 0 0;
    width: 100%;
    height: 70%;
}
.content-input input{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-input input{
	visibility: hidden;
	position: absolute;
	right: 0;
}
.content-input{
	position: relative;
	margin-bottom: 30px;
	padding:5px 0 5px 60px; 
    display: block;
    width: 46%;
}
.span-grid-mid-inter-input-radio-orange { 
    width: 8%;
    height: 100%;
    background-color: #504741;
    opacity: 0.15;
}
.content-text-labels-in-inputs-radios { 
    justify-content: space-around;
    height: 1px;
    position: relative;
    z-index: 5;
    margin-top: 15px;
    margin-bottom: -22px;
    
}
.content-input input + i{
       background:#F8F6F4;
       position: absolute; 
       left: 0;
       top: 0;
}

.content-input input[type=radio] + i{
	width: 100%;
	height: 30px;
}

.content-input input[type=radio]:checked + i{
 background: #FCDA5F;
}
.container-marron-checkbox-vivienda-page-proyectos { display: flex; flex-direction: row; width: 100%; border: solid 2px #504741; border-radius: 4px; height: 35px; margin: 15px 0 0 0;}

.container-filter-search {width: 100%; height: 170px;  background-color: #E8E3E1;  display: flex; }
.content-left-filter-search { width: 30%; height: 96.5%; background-color: #DED6CF;}
.content-mid-filter-search{  width: 40%;height: 96.5%; padding:25px; background-color: #D8CDC4; border-left: solid 7px #C5BAB1; border-right:solid 7px #C5BAB1 ;}
.content-right-filter-search {width: 35%; height: 96.5%;  background-color: #C3BBB4;}
.content-mid-filter-search-despegable {border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; position: relative; z-index: 2; width: 40%;height: 180% !important; padding:25px; background-color: #D8CDC4; border-left: solid 7px #C5BAB1; border-right:solid 7px #C5BAB1 ; }
/*Finaliza busqueda avanzada*/
/*Comienza sendero*/
.style_select{
    width: 222px; height: 30px;
    background-color: transparent; 
    border: none; margin-top: 5px; 
    color:#A09995; 
    font-size: 14px; 
}
.pdd-top-drop-down-more-filters{
    padding-top: 300px;
}
.tamaño_select{
    width: 90% !important; 
    margin: 0 auto 0 0; 

}
.organizar_row{
    width: 100%; 
    display: grid; 
    grid-template-columns: repeat(2, 50%);
}

.tooltipYellow {
    position: relative;
    display: inline-block;
}
.tooltipYellow .tiptext {
    visibility: hidden;
    width: 135px;
    
    font-family: 'roboto',sans-serif;
    background-color: #FCDA5F;
    color:#008C44;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    text-align: start;


    padding: 15px ;
    position: absolute;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltipYellow .tiptext::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltipYellow:hover .tiptext {
    visibility: visible;
}
.tooltipYellow.top .tiptext{
    margin-left: -60px;
    bottom: 100%;
    left: 180%;
}
.tooltipYellow.top .tiptext::after{
    margin-left: -5px;
    top: 100%;
    left: 3.5%;
    border-color:#FCDA5F transparent transparent#FCDA5F;
}
.content-img-tooltip {width: auto;}


.contenedor_sendero{
    width: 60%; 
    padding: 20px; 
    border-radius: 15px;
    margin: 30px 5%; 
    background-image: url(../assets/images/Group\ 1674.png);
    background-position: center;
    border: 1px solid #E8E2DE;
    opacity: 100%;
}


.fondo_sendero{
    width: 100%;
    padding-top: 5%;
    background:#F9F5F3;
}


.titulo_ilarco{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #504741;
}
.titulo_bogota{
    font-family: 'Roboto', sans-serif;
    color: #504741;
}
.espacio_iconos_senderos{
    margin: 5px 5px;
    cursor: url("../assets/images/iconmonstr-cursor-31.png"), pointer;
}

.texto_momentos_inolvidables{
    color: #757577;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 13px;
    opacity: 0.5;
    margin: 15px 0 !important;
}

.ancho_desde_hasta{
width: 50%;
}
.separador_sendero{
    width: 100%;
    opacity: 0.5;
}
.btn_ver_detalle{
    border-radius: 30px;
    background: transparent;
    border-color: #037F43;
    color: #037F43;
    font-weight: bolder;
    float: right;
    width: 50%;
    margin-top: 30px;
}
.letra_boton_detalle{
    float: left;
    font-family: 'roboto', sans-serif;
}
.flecha_boton_derecha{
    float: right;
    padding: 8px 10px 0 0;
    width: 15%;
}
.titulo_area_precio{
    font-family: 'roboto', sans-serif;
    color: #504741;
    font-weight: bold;
    font-size: 15px;
}
.desde_hasta{
    font-family: 'roboto', sans-serif;
    color: #504741;
    font-weight: bolder;
    font-size: 10px;

}
.precio_metros{
    font-family: 'roboto', sans-serif;
    color: #037F43;
    font-weight: bolder;
}
    /*finaliza sendero*/

/*comienza Resultado busqueda*/
.fondo_otros_proyectos{
    background: #F9F5F3;
    box-shadow: 0 4px 4px -1px gray;
    padding-bottom: 5%;
}
.fondo_resultado{
    background: #F9F5F3;
}

.espacio_entre_card_proyectos{
    height: 30px;
}
.quince{
    font-weight: bold;
}
.ocho{
    font-weight: bold;
    font-size:12px;
    color:#008C44;

}
.titulo-resultado-busqueda{
    color: #008C44;
    margin-bottom: 30px;
}
.titulo-resultado-busqueda-encontrados{
    color: #504741;
    font-weight: bolder;
    font-size:12px;

}
.separador_resultado_busqueda{
    width: 50%;
    opacity: 0.5;
}
/*finaliza Resultados busqueda*/
/*comienza otros proyectos*/
.titulo-otros-proyectos{
    color: #504741;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;

}
/*otros proyectos*/

/*comienza testimonio*/
.centrar_titulo{
    text-align: center;
    font-family:'Roboto', sans-serif;
    color: #504741;
}
.titulo_testimonio{
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    color:#504741;
}
.foto_galindo{
    float: left;
    border-radius: 100%;
    margin-right: 10px;
    width: 50%;
}
.nombre{
    color: #504741;
    font-family:'Roboto', sans-serif;
    margin-top: 10%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    float:left;
}
.texto_testimonio{
    font-family:'Roboto', sans-serif;
    text-align: justify;
    color: #504741;
}
.separador_testimonio{
    width:20%;
    opacity: 0.5;
}
.flecha_atras{
    float: right;
    text-align: center;
    margin: 25%
    
}
.flecha_adelante{
    float: right;
    margin-top: 50%;
}
.comillas_izq{
float: left;
}
.comillas_dere{
    float: right;
}


/* INICIO ESTILOS DE LOS CHECKBOX*/
.toggle {
    
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .toggle:before {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background: white;
    transition: background 0.2s ease;
  }
  .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background:#FCDA5F;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
  }
  .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: #FCDA5F;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
  }
  
  /* INICIA CHECKBOX TIPO VIVIENDA*/
  #cbx:checked + .toggle:before {
    background: white;
     

  }
  #cbx:checked + .toggle span {
  

    background: #FCDA5F;
    transform: translateX(100%);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }
  #cbx:checked + .toggle span:before {
    transform: scale(3);
    opacity: 0;
    transition: all 0.4s ease;
  }
  /*FINALIZA CHECKBOX TIPO VIVIENDA*/

    /* INICIA CHECKBOX TIPO VIVIENDA MOBILE*/
    #btn_rotate_subsidio_mobile:checked + .toggle:before {
        background: white;
         
    
      }
      #btn_rotate_subsidio_mobile:checked + .toggle span {
      
    
        background: #FCDA5F;
        transform: translateX(100%);
        transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
        box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
      }
      #btn_rotate_subsidio_mobile:checked + .toggle span:before {
        transform: scale(3);
        opacity: 0;
        transition: all 0.4s ease;
      }
      /*FINALIZA CHECKBOX TIPO VIVIENDA MOBILE*/
  
/* INICIA CHECKBOX SUBSIDIO VIVIENDA*/
#btn_rotate_type:checked + .toggle:before {
    background: white;
     

  }
  #btn_rotate_type:checked + .toggle span {
  

    background: #FCDA5F;
    transform: translateX(100%);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }
  #btn_rotate_type:checked + .toggle span:before {
    transform: scale(3);
    opacity: 0;
    transition: all 0.4s ease;
  }
  /*FINALIZA CHECKBOX SUBSIDO VIVIENDA*/

  /* INICIA CHECKBOX SUBSIDIO VIVIENDA MOBILE */
#btn_rotate_type_mobile:checked + .toggle:before {
    background: white;
     

  }
  #btn_rotate_type_mobile:checked + .toggle span {
  

    background: #FCDA5F;
    transform: translateX(100%);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
  }
  #btn_rotate_type_mobile:checked + .toggle span:before {
    transform: scale(3);
    opacity: 0;
    transition: all 0.4s ease;
  }
  /*FINALIZA CHECKBOX SUBSIDO VIVIENDA MOBILE */


  .p-relative-span-section-two-apto  {
   position: absolute;
    padding: 3px 0 0 5px;
   z-index: 5;
  }
  .p-relative-span-section-two-house {
    position: absolute;
     padding: 3px 0 0 10%;
    z-index: 5;
   
   }
 .--padd-left-small-no{
    padding: 3px 0 0 20px ; 
 }
 .--padd-left-small-yes{
    padding: 3px 0 0 11% ; 
 }
 label { 
     cursor: pointer !important;
 }
 .--c-marron-i {  color: #504741 !important;}
/* FINALIZA ESTILOS DE LOS CHECKBOX*/

.view_mobile_home { display: none;}
     @media screen and (max-width: 768px) 
    /* ESTILOS VISTA MOBILE DEL HOME */
    {
        .view_desktop_home{display: none;}
        .view_mobile_home { display: initial;}
        .--section_one_view_mobile_home { width: 100%; height: auto; padding: 35px 30px; background-color: #F9F5F3;}
        .--section_two_view_mobile_home { width: 100%; height: auto; padding: 35px 30px; background-color: white; }
        .--section_three_view_mobile_home {width: 100%; height: auto; padding: 0px; background-color: #F9F5F3; }
        .--title_section_two_mobile { font-size: 7vw; letter-spacing: 2px;  color: #008C44; font-weight: 400;}
        .--row_section_two_mobile { width: 100%; display: flex; flex-direction: column;}
        .--title_selects_section_one_mobile { color:#504741 ; font-weight: 700; font-size: 4vw;margin-top: 5px;}
        .--style_selects_section_two_mobile {  width: 90%;
             background-color: transparent; border: none; border-bottom: solid 1px #FCDA5F;
              color:#A09995; font-size: 14px; background: url(../assets/images/arrow-bot-marron.svg) no-repeat right;
        }
        .--row_grid_section_one_mobile { width: 100%; display: grid; grid-template-columns: repeat(2, 40%) 20%;}
        .--title_btn_rotate_mobile  { font-size: 3vw; color: #504741; font-weight: 700; }
         .p-relative-span-section-two-apto-mobile  {
            position: absolute;
             padding: 3px 0 0 5px;
            z-index: 5;
           
           }
           .p-relative-span-section-two-house-mobile {
             position: absolute;
              padding: 3px 0 0 20%;
             z-index: 5;
            
            }
            .image_banner_section_three_100 { width: 100%; height: 38vh; background-image: url(../assets/images/AdobeStock_181205632.png); background-size: cover;background-position-y: center; background-position-x: center;}
            .--size-mid-vw {font-size: 5vw !important; }
.--container-btn-rotate-mobile { width: 90%;  height: 30px; border: solid 2px #504741; border-radius: 4px; margin: 5px auto; }
    .--btn_green_search_mobile { padding: 0 20px; width: 100%; height: 35px; background-color: #008C44; border-radius:  4px; border: none; color: white;}
    .--f_right_icon_search { float: right;}
    .--text_pasa_voz_section_three_mobile { padding: 30px; font-size: 9vw; color: white;}
    .--paragraph-pdd-box { 
        padding: 50px; color: #504741; letter-spacing: 1px;
    }
.-w-100-- { width: 100%; }
.--mg-auto-- { margin: 0 40%; padding: 25px 0 !important; }

    }
  

.--text_pasa_voz_section_three_mobile { }

    @media screen and (max-width: 410px) {
        .p-relative-span-section-two-house-mobile {
            position: absolute;
             padding: 3px 0 0 17%;
            z-index: 5;
           
           }
    }

/*finaliza testimonio*/
/*  SALAS VENTA  */
.body__sala__ventas {
    background-color: #F9F5F3 !important;
}
.texto__salas__venta{
    /* margin: 111px 594px; */
    /* width: 245px;
    height: 3px; */
    color: #504741;

    text-align: left;
    font: bold 28px/33px Roboto;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    opacity: 1;
}

.texto__selecciona__ciudad{
    /* margin: -70px 611px; */
    width: 181px;
    height: 21px;

    text-align: left;
    font: medium 18px/22px Roboto;
    letter-spacing: 0;
    color: #504741;
    opacity: 1;
}
.texto__seleccionado{
    /* margin: 70px 621px; */
    width: 51px;
    height: 21px;

    text-align: left;
    font: medium 16px/22px Roboto;
    letter-spacing: 0;
    color: #504741;
    opacity: 0.6;
}
.mapa__imagen {
    width: 100%;
}

.linea__seleccionar__ciudad{
    /* margin-top: -57px;
    margin-left: 594px; */
    width: 250px;
    height: 1px;
    border: 1px solid #E8C133;
    border-radius: 5px;
    opacity: 1;
}
.flecha__linea__seleccionar__ciudad{
    /* margin: -25px 217px; */
}

.row__sala__ventas {
    margin: 0% !important;
}

.mapa__salas__venta{
    background: url("../assets/images/Screen Shot 2019-09-16 at 6.27.59 PM.png");
    background-size: cover;
    margin-top: 5%;
    /* width: 1373px; */
    /* height: 605px; */
}
.debajo__salas__ventas{
   background: #008C44;
   color: #008C44;
   /* width: 120%; */
   height: 140px;
}
.card__gratamira{
    /* margin: -100px 230px; */
}
.texto__card__avenida{
    margin-bottom: 30px;
}
/*finaliza testimonio*/

/*Comienza boletin*/
.fondo_boletin{
    background-color: green;
}
.boletin{
    padding: 27px 0 0px 82px;

}
.titulo_boletin{
    font-family: roboto;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin:0;
}
.texto_boletin{
    font-family: roboto;
    color: white;
    font-size: 12px;
}
.correo{
    border: none;
    background: transparent;
    color: white;
    margin: 10% ;
    width: 227px;
    margin-bottom: 0 !important;
    border-bottom-color: white;
}
.separador_correo{
        background-color: white;
        width: 65%;
        opacity: 0.5;
        margin-top: 0 !important;
        margin: 10%;
}
.boton_boletin{
    color: #008C44;
    background: white;
    border: none;
    border-radius: 25px;
    height: 30%;
    display: block;
    margin: 10%;
    width: 50%;
}
.texto_btn_boletin{
    float: left;
    font-family: roboto;
    font-weight: bold;
    padding-left: 5px;
}
.flecha_dere_boletin{
    width: 15%;
    float: right;
    padding: 8px 8px 0 0;
}
.contenedor2card__gratamira{
    background: #008c44;
}

.card__gratamira__posicion{
    position: absolute;
    /* left: 100px;
    top: 115px; */   
}
@media (max-width: 1130px) {
    #card__sala__ventas {
        display: none;
    }
}

.pocision__input__2{
    position: relative;
    left: 280px;
    top: 225px;
}
.as{
    border-radius: 30px;
}
.texto__numero{
    color: #008C44;
}
.fondo__card__gratamira{
    background: #037F43;
}
.fondo2__card__gratamira{
    background-image: url(../assets/images/Mask\ Group\ 77.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.letter__card__gratamira{
    text-align: left;
    font: Bold 16px/22px;
    font-family:'Roboto';
    letter-spacing: 0.54px;
    color: #FFFFFF;

    position: absolute;
    left: 20px;
    top: -2px;
}
.letter__2{
    text-align: left;
    font: 10px/22px;
    font-family:'Roboto';
    letter-spacing: 0.54px;
    color: #FFFFFF;
}
.text__abajo{
    color: #FFFFFF;
    text-align: left;
    font: Bold 16px/22px;
    font-family:'Roboto';

    position: relative;
    left: 150px;
    top: 20px;
    

}
.texto__correo{
    color: #FFFFFF;
    text-align: left;
    font: 16px/22px;
    font-family:'Roboto';

    position: relative;
    left: 520px;
    bottom: 27px;
    opacity: 0.3;
    
}
.line__input__correo{
    position: relative;
    left: 520px;
    bottom: 27px;
    width: 185px;
    height: 0.5px;
    background: white;

}
.pocision__boton{
     position: relative;
     left: 747px;
     bottom: 47px;
}

.btn__inscribirme{
    border-radius: 25px;
    background-color: white;
    color: #008C44;

    width: 190px;
    height: 43px;
    
}
/*finaliza boletin*/




select{ appearance:none !important; -webkit-appearance: none; -moz-appearance: none;}





/* 

 */
 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */

 /* 

 */



.testimonios__subtitle {
    text-align: center;
 }

 .img__plano__general{
     background-image: url(../assets/images/Image\ 55.png);
     background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
    width: 60%;
 }

 .img__ico__proyectos__1{
    background-image: url(../assets/images/Group\ 1576.svg);
    background-repeat: no-repeat;
    height: 5vh;
 }

 .img__ico__proyectos__2{
    background-image: url(../assets/images/Group\ 1570.svg);
    background-repeat: no-repeat;
    height: 5vh;
 }

 .img__ico__proyectos__3{
    background-image: url(../assets/images/Group\ 1577.svg);
    background-repeat: no-repeat;
    height: 5vh;
 }

 .img__ico__proyectos__4{
    background-image: url(../assets/images/Group\ 1571.svg);
    background-repeat: no-repeat;
    height: 5vh;
 }

 .img__ico__proyectos__5{
    background-image: url(../assets/images/Group\ 1277.svg);
    background-repeat: no-repeat;
    height: 5vh;
 }


 .img__slider{
    background-image: url(../assets/images/shutterstock_641525947.png);
    background-repeat: no-repeat;
    height: 50vh;
 }

select{ appearance:none !important; -webkit-appearance: none; -moz-appearance: none;}

.proyectos__multimedia {
    width: 100%;
}
.row__multimedia {
    width: 100%;
    margin: 0 !important;
}
.box__multimedia {
    width: 100%;
    align-content: center;
    padding: 25%;
    text-align: center;
}
.box__multimedia__text {
    color: #FFFFFF;
}


.img__recorridos360 {
    background-image: url(../assets/images/Image\ 36.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter:brightness(0.4);
    color: #FFFFFF !important;
    text-align: center; */
    padding-right: 1%;
 }

 .img__video{
    background-image: url(../assets/images/Image\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 1%;
 }

 .img__galeria{
    background-image: url(../assets/images/Image\ 38.png);
    background-repeat: no-repeat;
    background-size: cover;
 }

.container__plano {
    padding: 10% 5% 10% 5%;
}
.plano__title {
    font: Bold 28px/33px Roboto;
    letter-spacing: 1.68px;
    color: #504741;
    text-align: center;
}

.plano__title__caracteristicas {
    font: Bold 28px/33px Roboto;
    letter-spacing: 1.68px;
    color: #504741;
    text-align: left;
}
.plano__buttons {
    border: 1px solid #000000;
    width: 100%;
    text-align: center;
}


.container__mapa {
    
}

.container__pasa__voz {
    background-image: url(../assets/images/vozbig.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.row__voz {
    padding: 2% 0% 2% 0%;
    /* padding-top: 4%; */
}
.icon__content__voz {
    text-align: right;
}
.voz__icon {
    margin-top: 20%;
    justify-content: center;
}

.voz__title {
    text-align: left;
    color: #FFFFFF;
    font-size: 40px;
}
.vl {
    margin-top: 20%;
    border-left: 2px solid #ffffff;
    height: 100px;
}
.voz__content__info {
    margin-top: 1%;
    color: #FFFFFF;
}
.btn__voz {
    border-radius: 50px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    background: transparent;
    padding: 2% 1%;
    width: 15vw;
    padding: 5px;
    height: 4vh;
    margin-top: 2% !important;
    padding-bottom: 5%;
}
.testimonio__image {
    width: 92px;
    height: 92px;
    border-radius: 150px;
    float: left;
}
.testimonio__nombre {
    margin-top: 7%;
    margin-left: 5%;
    text-align: center;
    float: left;
}
.testimonio__container {
    margin: 3% 0%;
}

.fondo__boletin{
    background-color: green;
    padding: 2% 15%;
}

.fondo__boletin2{
    background-color: #008C44;
    padding: 2% 15%;
}

.correo::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
}
.separador__correo {
    background-color: white;
    width: 80%;
    margin-top: 0 !important;
    margin: 10%;
}

.container__form {
    margin-top: 5%;
    margin-bottom: 10%;
}

.sala__ventas__container {
    margin-left: 10%;
}
.sala__ventas__card {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 5px 9px #0000001A !important;
    border-radius: 80px;
}

.horarios__sala {
    text-align: center;
    color: #FFFFFF;
    background: green;
}

.home__container {
    background-image: url(../assets/images/Image49.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    width: 120%;
    border-radius: 10px;
}

.text__container__home {
    padding: 50% 30% 0% 30%;
}

.home__card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 9px #0000001A;
    border-radius: 15px;
}

body {
    overflow-x: hidden;
}

.flecha__dere__referir{
    width: 13%;
    float: right;
    padding: 6px 8px 0 0;
    color: #FFFFFF;
}

.texto__btn__referir{
    float: left;
    font-family: roboto;
    font-weight: normal;
    padding-left: 30px;
    padding-bottom: 2%;
    
}

.title__pasa__voz{
    max-width: 15% !important;
}

.comentario__text__area{
    resize: none;
}

.form__margin{
    margin: 4%;
}
.--form__btn__enviar{
    /* justify-content: center !important; */
}

.--from__img__btn__enviar{
    width: 12%;
}

.--style-inputs-section-two{

    width: 222px; height: 30px;
     background-color: transparent; border: none; margin-top: 5px; border-bottom: solid 1px #FCDA5F;
      color:#A09995; font-size: 14px; ; 
}

.--title-inputs-section-two{
    color:#504741 ; font-size: 14px; font-weight: 700;
}


.--card__sala__ventas{
    border-radius: 1.25rem !important;
}

.--card2__sala__ventas{
    border-bottom-left-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;

}
.container__avance__obra {
    padding: 10% 0%;
}
.progress__bar__avance__obra {
    width: 50%;
    background-color: #E8C133 !important;
    height: 10em !important;
    z-index: 2;
    border-right: 2px solid #000;
}
.progress {
    height: 0.5em !important;
    background-color: #2F2F31 !important;
    z-index: 1;
}
.start__progress {
    float: left;
    font-size: 12px;
}
.end__progress {
    float: right;
    font-size: 12px;
}

.nav-link {
    background: transparent !important;
    color: #504741 !important;
    font-weight: normal;
}
.nav-pills .nav-link {
    border-radius: 0px !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: transparent !important;
    border-bottom: 2px solid green !important;
    color: #504741 !important;
    font-weight: bold;    
}
.proyecto__logo {
    border-radius: 100%;
    width: 125px;
    height: 125px;
}
.castillo__texto {
    text-align: center;
}
.castillo__logo {
    display:block;
    margin:auto;
}

.comillas__izq {
    margin-top: -0%;
}

.comillas__dere {
    margin-top: 40%;
}

.sala__ventas__card_inf{
    margin-top: 3%;
}

.sala__ventas__card__border_sup{
    border-top-left-radius: 1.25rem !important;
    border-top-right-radius: 1.25rem !important;
}

.sala__ventas__card__border_inf{
    border-bottom-left-radius: 1.25rem !important;
    border-bottom-right-radius: 1.25rem !important;
}

.title__card_sala__ventas{
    position: absolute; 
    bottom: 75%;
    z-index: 10;
    margin-left: 10%; 
    color: #FFFFFF; 
    font-size: 22px;
}




/* 
 /* */ 
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */

 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */
 /*  */

select{ appearance:none !important; -webkit-appearance: none; -moz-appearance: none;}
button:focus {outline:0 !important;}

@media (max-width:988px){
    .--container-fluid-section-project { 
    padding: 0!important;
}
}

.content-galeria-imagenes img {
  width: 85%;
  height: 109px;
  object-fit: cover;
}

.content-galeria-imagenes img:nth-child(1) {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.content-galeria-imagenes img:nth-child(3) {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.content-galeria-imagenes .img-select {
  width: 100%;
  height: 134px;
}

.img_sendero {
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 350px;
  cursor: url("../assets/images/iconmonstr-cursor-31.png"), pointer;
  object-fit: cover;
}

.container-check-proyecto {
  position: relative;
  width: 53%;
  height: 30px;
  border: solid 2px #504741;
  border-radius: 4px;
  margin: 5px auto;
}
.--title-selects-section-two {
  color: #504741;
  font-size: 14px;
  font-weight: 700;
}

.p-relative-span-section-two-apto {
  position: absolute;
  padding: 3px 0 0 5px;
  z-index: 5;
}

.container-check-proyecto label {
  position: absolute;
  padding: 3px 0 0 5px;
  /* z-index: 5; */
}

.container-check-proyecto label:nth-child(2) {
  right: 20%;
}

.fondo_ciudad {
  background-image: url(../assets/images/Ellipse\210png);
  height: auto;
  width: 100%;
  margin: 25px 0 0 0;
  background-position: left;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {

    

  .-card-flip > div {
    position: relative;
    transform: none;
  }
  .-card-body3 {
    width: 100%;
  }
  .proyecto-card-resultado-busqueda {
    width: 100% !important;
    height: auto;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .proyecto-card-resultado-busqueda .-card-title {
    display: none;
  }

  .proyecto-card-resultado-busqueda .-card-zona {
    display: none;
  }

  .proyecto-card-resultado-busqueda .-p-card-end {
    margin: 60px 0px 0px 0px;
  }

  .proyecto-card-resultado-busqueda .insignia-card {
    order: 1;
    margin-top: 8px;
  }

  .order-insignia-card {
    order: 1;
    margin-top: 8px;
  }

  .-content-info-card-back {
    flex-direction: row;
    flex-wrap: wrap;
    width: 67%;
  }

  .separador-ciudad {
    padding-right: 3px;
  }

  .separador {
    display: none;
  }

  .-tarjetas {
    flex-direction: column;
  }

  .-header-card-back {
    height: auto;
    align-items: center;
    padding: 8px 30px;
    border-radius: 0px;
  }

  .-card-flip {
    margin-bottom: 30px;
  }

  .-row-card-back-left {
    align-items: center;
  }

  .-row-card-back-left .-price-large {
    font-size: 25px;
  }

  .-price-large-m {
    font-size: 18px;
  }

  .-back-card-verde {
    text-align: center;
  }

  .-btn-green-card-back {
    width: 70%;
  }

  .-back-card-verde {
    height: auto;
  }

  .-subtext-card-back {
    font-size: 12px;
    padding: 0px;
  }
  /* .img_pequeña_ciudad{
            display: none;
        } */

  .contenedor_ciudad .letra .descripcion-ciudad {
    display: none;
  }
  .titulo_ciudad {
    font-size: 26px;
  }

  .content-ciudades-proyectos {
    margin-left: 20px;
    border-bottom: 1px solid #b9b3ad;
    padding: 20px 0px 10px 0px;
  }

  .content-desplegado {
    background: #eae2dc;
  }

  .back-castillo {
    background: #f5efea;
    box-shadow: 5px 0px 5px 5px #f5efea;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    margin-left: 8%;
  }

  .content-img-frm-busqueda-mobile {
    width: 100%;
    text-align: center;
  }

  .estilo-select-busqueda-avanzada {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .content-block-1-busqueda-avanzada-mobile {
    display: flex;
    width: 100%;
    padding: 20px 0px;
  }

  .content-block-1-busqueda-avanzada-mobile div:nth-child(2) {
    width: 40%;
    margin-left: 10%;
  }
  .content-block-2-busqueda-avanzada-mobile {
    margin-left: 8%;
  }

  .content-block-3-busqueda-avanzada-mobile {
    margin-left: 8%;
  }

  .ordenar-filas {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 39% 33% 20% 30%);
  }

  .busqueda-avanzada-mobile {
    display: block !important;
    position: sticky;
    bottom: 0px;
    background: #504741;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .contenedor_btn_buscar_sticky {
    display: flex;
    flex-direction: row;
    margin: 8px 0px;
    width: 100%;
    justify-content: center;
  }
  .contenedor_btn_buscar_sticky .boton_buscar {
    width: 260px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .content-busqueda-avanzada-toggle {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .content-busqueda-avanzada-toggle::after {
    content: "";
    position: absolute;
    background: url(../assets/images/arrow-bot-blanco.svg) no-repeat right;
    height: 20px;
    width: 20px;
    right: 40px;
    top: 25px;
    transform: rotate(180deg);
  }

  .content-busqueda-avanzada-toggle div {
    width: 100%;
  }

  .content-busqueda-avanzada-toggle div:nth-child(1) p {
    font-size: 14px;
    color: #ffffff;
  }

  .content-busqueda-avanzada-toggle div:nth-child(2) p {
    font-size: 21px;
    color: #ffffff;
  }
}

.-row-sub-card-back {
  flex-wrap: wrap;
}

.content-valor-metros {
  display: flex;
  width: 100%;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.content-desde-hasta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-desde-hasta div {
  width: 50%;
  text-align: center;
}

.content-desde-hasta div:nth-child(1) {
  border-right: 1px solid #ffffff;
}

.content-valor-metros div:nth-child(1) {
  border-right: 1px solid #ffffff;
}

.content-valor-metros div {
  width: 50%;
  text-align: center;
}

.-subtext-card-back {
  padding: 0px;
}

.content-ciudades-proyectos {
  display: flex;
  width: 90%;
}

.content-ciudades-proyectos div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mystyle{
    display: none;
}
.container-sendero-ecologicosin-padd { 
    padding: 0 !important;
}
.row { margin: 0 !important}

.content-ciudades-proyectos div:nth-child(1) {
  width: 110px;
}

.busqueda-avanzada-mobile {
  display: none;
}

.mystyle {
  display: none;
}

.tamano_tarjetas_proyectos {
  width: 100%;
  height: 317px;
  border-radius: 15px;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.ancho-card-proyectos {
  width: 100%;
}

.proyecto-card-resultado-busqueda {
  width: 100% !important;
}

.proyecto-card-resultado-busqueda .-p-card-end {
  margin: 190px 0px 0px 0px;
}

.pd-tarjetas-proyectos{
    padding-bottom: 30px;
}

.-row-card-back-right{
    padding-left: 1%
}

.mas-filtros-busqueda-avanzada{
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0px;
    background: #D8CDC4;
    padding: 25px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.content-group-check{
  display: flex;
  width: 100%;
  /* margin-top: 20px; */
}

.content-group-check .container-check-proyecto{
  width: 100%;
  margin: 0px;
}

.content-group-check .container-check-proyecto{
  margin-right: 0px;
  width: 100%;
}

.mas-filtros-busqueda-avanzada .organizar_filas .flex_column .container-check-proyecto{
  width: 100%;
  margin: 0px;
}

.mas-filtros-busqueda-avanzada .organizar_filas:nth-child(3){
  grid-template-columns: repeat(4, 33% 33% 23% 33%);
  padding-top: 20px;
}

.mas-filtros-busqueda-avanzada .organizar_filas:nth-child(3) .flex_column{
  margin: 0 8%;
}

.title-filter{
  text-align: center;
  font-size: 16px;
  color: #504741;
  white-space: nowrap;
  font-weight: 700;
}

#tipoVivienda:checked + .toggle:before {
  background: white;
   

}
#tipoVivienda:checked + .toggle span {
  background: #FCDA5F;
  transform: translateX(100%);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}


#tipoVivienda:checked + .toggle span:before {
  transform: scale(3);
  opacity: 0;
  transition: all 0.4s ease;
}


#subsidio:checked + .toggle:before {
  background: white;
   

}
#subsidio:checked + .toggle span {


  background: #FCDA5F;
  transform: translateX(100%);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
#subsidio:checked + .toggle span:before {
  transform: scale(3);
  opacity: 0;
  transition: all 0.4s ease;
}

.tamano-mapa{
  height: 633px;
    object-fit: cover;
    width: 100%;
}

.page-btn-proyectos{
  width: 100%;
}



@media all and (max-width: 1271px) and (min-width: 992px) {
    .proyecto-card-resultado-busqueda .-header-card-back{
        padding: 25px 10px;
    }
   .proyecto-card-resultado-busqueda .-back-card-verde{
    padding: 6px 0 0px 0px;
   }
   .proyecto-card-resultado-busqueda .-back-card-verde .-mg-top-25{
    margin-top: 11px !important;
   }

  }

.dsp-none { display: none !important;}




.paddinTop20 {
    padding-top: 20px;
}


