// Titulo proyectos
.-titulo-proyectos {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgba(5, 98, 50, 1);
    font-weight: 800;
}
// Titulo proyectos
.-texto-hogar {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(80, 71, 65, 1);
    text-align: left;
    margin-bottom: 35px;
}

// Cards
.card { 
    border: none !important;
}
.-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-aroun;
    margin: auto;
}
.-p-card-end { width: 100%; height: 50%; margin: 75% 0 0 0 ; display: flex; flex-direction: column;  padding: 0 25px 20px; }

.-card-body1 {
    width: 236px;
    height: 317px;
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/rhcp.png);
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;

}
.insignia-card { 
  
    color: white;
    padding-left: 10px;
    font-size: 11px;
    width: 100px;
    border-radius: 15px;
    background-color: rgba(128, 51, 232, 1);
}
.-insignia-card-three { 
    color: rgba(80, 71, 65, 1);
    padding-left: 10px;
    font-size: 11px;
    width: 130px;
    border-radius: 15px;
    background-color: rgba(252, 218, 95, 1);

}


.-card-body2 {
    width: 236px;
    height: 317px;
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/ilarco_114-img1.png);
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}
.-card-body3 {
    width: 236px;
    height: 317px;
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/alto-living-foto-ago-2-2019@2x.png);
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.-card-body4 {
    width: 236px;
    height: 317px;
    border-radius: 15px;
    background:  -webkit-gradient(linear, 0% 40%, 46% 100%, from(rgba(37, 37, 37, 0)), to(rgba(11, 11, 11, 0.81))), url(../assets/images/mirla-img_1-amp@2x.png);
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;

}

.-card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
 /*    background: #F9F5F3; */
  }
  
  .-card-front {
    transform: rotateY(0deg);
  }
  
  .-card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .-card-flip:hover .-card-front {
    transform: rotateY(-180deg);
  }
    
  .-card-flip:hover .-card-back {
    transform: rotateY(0deg);
  }

  .-card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
  }

  .-card-zona {
      margin-top: -5px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    display: block;
  }

  .-card-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
  }

  .-card-subzona {
      margin-top: -7px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }