// =========== Tags ===========
*{ 
    font-family: Roboto, sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
body { 
    width: 100%;
}

p { 
    margin: 0;
}
button { 
    border: none;
    width: auto; 
    background-color: transparent; 
    outline: none !important;
}
// =========== Class ===========

// margin
.mg-top-20 {
    margin-top: 20px;
}
.mg-top-40 {
    margin-top: 40px;
}

// Other
.contc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-template-areas: ""; 
}
  
.contc .imagen1c {
    z-index: 0;
    background: url(../images/Image-90.png);
    height: 600px;
    width: 100%; 
}
  
.btnc1 {
    position: absolute;
    top: 204px;
    left: 109px;
    width: 28%;
    height: 64px;
    box-shadow: 0px 4px 6px #50474134;
    border-radius: 15px;
    opacity: 1;
    background: transparent linear-gradient(156deg, #00B245 0%, #008C44 100%) 0% 0% no-repeat padding-box;
}
  
  .flecha {
    position: absolute;
    top: 18%;
    left: 90%; }
  
  .textoc {
    position: absolute;
    top: 25%;
    left: 17%;
    z-index: 1; 
}
  
.subtextc {
    color: #ffffff;
    font-size: 1rem;
    font-family: roboto, sans-serif;
    font-weight: 400;
    z-index: 9999;
    margin: 0 !important; 
}
  
  span {
    font-size: 16px;
    font-family: roboto,sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.48px; }
  
  .textc {
    z-index: 9999;
    font-size: 13px;
    color: #ffffff;
    font-family: roboto, sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 0 !important; 
  }
  
  .igle {
    width: 100%;
    position: relative;
    padding: 0.5rem 0px 0px 0.9375rem; }
  
  .titc1 {
    font-family: roboto, sans-serif;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    letter-spacing: NaNpx;
    padding: 15px 0px 10px 20px;
    color: #504741;
    letter-spacing: 1.56px; }
  
  .btnc2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 30px #00000026;
    border-radius: 15px;
    opacity: 1;
    top: 293px;
    left: 109px;
    width: 28%;
    height: 411px;
    position: absolute;
    background: #ffffff;
    z-index: 9999; }
  
  .caja1 {
    background: #F9F5F3;
    z-index: 9999; }
  
  .ciudadc1 {
    padding: 20px;
    margin: 0px 0px 0px 20px;
    font-size: 14px;
    top: 387px;
    left: 109px;
    width: 372px;
    height: 318px;
    font-family: roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #504741;
    border-bottom-radius: 15px; }
  
  .lugar {
    position: absolute;
    top: 45%;
    left: 20px;
    width: 310px;
    height: 70px;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #504741;
    letter-spacing: 0.96px;
    border-bottom: 1px solid #D3CDC7;
    opacity: 1;
    padding-bottom: 5%;
    margin-bottom: 30px; }
  
  .preci {
    left: 5%;
    top: 70%;
    position: absolute;
    font-size: 38px;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #504741;
    z-index: 9999; }
  
  .usd {
    position: absolute;
    top: 15%;
    left: 110%;
    width: 46px;
    height: 30px; }
  
  .icons {
    position: absolute;
    top: 33%;
    left: 50%; }
  
  .ic {
    margin: 0px 5px 0px 5px; }
  
  .btnc3 {
    margin-top: 20px;
    top: 90%;
    font-size: 16px;
    position: absolute;
    background: #008C44;
    color: #ffffff;
    width: 245px;
    height: 40px;
    border-radius: 24px;
    border: none;
    left: 15%; }
  
  .cali {
    position: absolute;
    background: #ffffff;
    top: 55%;
    left: 160%;
    width: 128%;
    height: 205px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 30px #00000026;
    border-radius: 15px;
    opacity: 1;
    z-index: 2; }
  
  .arro1 {
    position: absolute;
    top: 180%;
    left: 100%; }
  
  .arro2 {
    position: absolute;
    top: 180%;
    left: -40%;
    transform: scaleX(-1); }
  
  .titc2 {
    font-family: roboto, sans-serif;
    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    letter-spacing: 0;
    padding: 30px 0px 10px 20px;
    color: #008C44;
    letter-spacing: 1.56px; }
  
  .lineac1 {
    border-bottom: 1px solid #D3CDC7;
    width: 40%;
    margin-left: 4%; }
  
  .btnc5 {
    padding: 20px;
    vertical-align: middle; }
  
  .proye {
    margin: 0 !important; }

.pdd-left-30- { padding-left: 30%;}

.lanza {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #008C44;
  font-size: 18px;
  margin: 0 !important; }

.cali2 {
  position: absolute;
  top: 45%;
  left: 15%;
  margin: 0 !important; }

.elipsec1 {
  z-index: 0;
  top: 0%;
  left: -100%;
  position: absolute; }