// =========== Section hero ===========
.section-hero-1 { 
    width: 100%; 
    min-height: 45vw; 
    margin-bottom: -50px; 
    display: flex; 
    background-image: url(../assets/images/Image\ 90@2x.png); 
    background-size: cover;
}
.section-hero-2 {
    display: flex;
    width: 100%;  
    min-height: 45vw; 
    background-color: $gray-light; 
}
.content-cards-left-section-hero-1 { 
    width: 60%; 
    min-width: 370px; 
    height: 100%; 
    margin: 0 auto;
}

.card-green-conoce-proyectos {
    display: flex; 
    align-items: center; 
    padding: 15px 30px; 
    margin: 15vw 0 20px; 
    width: 100%; 
    background-color: $green; 
    border-radius: 15px; 
    box-shadow: 0px 4px 6px $black;
}
.conent-text-card-green-hero-1 { 
    display: flex; 
    flex-direction: column; 
    margin: 0 auto 0 10%; 
    color: white; 
    font-size: 16px; 
    font-weight: 400;
}

// Alejandria
.card-white-alejandria-mediterraneo-hero-1 { 
    box-shadow: 0px 10px 30px #00000026; 
    width: 100%;  
    border-radius: 15px;  
    background-color: #F9F5F3;
}
.content-top-card-white-alejandria-mediterraneo { 
    width: 100%; 
    background-color: white; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    padding: 15px 25px;
}
.content-resto-info-card-alejandria-mediterraneo { 
    width: 100%; 
    padding:25px;
}
.icons-card-white-alejandria-mediterraneo { 
    margin: 0 15px;
}
.row-card-white-alejandria-mediterraneo { 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.paragraph-card-white-alejandria-mediterraneo { 
    margin: 30px 0 !important; 
    color: #504741; 
    font-size: 18px; 
    letter-spacing: 1px; 
    font-weight: 400;
}
.hr-card-white-alejandria-medeterraneo { 
    width: 80%;  
    border: 1px solid #D3CDC7; 
    margin: 0 auto!important; 
}
.btn-green-card-white-alejandria-mediterraneo { 
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    margin: 25px auto 0; 
    width: 70%; 
    padding: 15px;
    border-radius: 24px; 
    background-color: #008C44; 
    color: white; 
}
.container-card-rotate-right { 
    display: flex;  
    width: 80%; 
    margin: auto; 
    background-color: white; 
    margin-top: 59%;
    border-radius: 15px;
}
.image-card-rotate-right { 
    width: 50%; 
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px;
}
.infoo-card-rotate-right { 
    width: 50%; 
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px; 
    display: flex; 
    flex-direction: column;
}
.text-cali-card-rotate { 
    padding:25px 35px; 
    color:$green;  
    font-weight: 700;
}
.row-card-rotate-hero-2 { 
    display: flex; 
    justify-content: space-around;
    width: 100%; 
}
.imagen-inter-card-statue { 
    padding: 20px 0 0 20px;
}
.content-arrows-card-cali-hero-2 { 
    display: flex; 
    justify-content: space-between;
    width: 100%; 
    padding: 0 10%; 
}
.images-border-radius { 
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px; 
}
.img-casa-hero-2-hogar { 
    width: 400px; 
    height: 280px; 
    margin: 10vh auto 30px; 
}
.row-selects-right-hero-2 {
    display: flex; 
    justify-content: space-around; 
    margin-top: 20%;
    width: 80%; 
    margin: 0 10%; 
}
.title-selects-content-right-hero-2 {
    font-size: 18px; 
    color: #504741; 
    font-weight: 700;
}
.style-selects-content-right-hero-2 {
    width: 90%; 
    height: 40px; 
    background-color: transparent; 
    color:#B5AEAB; 
    border: none; 
    border-bottom: solid 1px #E8C133; 
    background: url(../assets/images/icon-arrow-bot-marron.svg) no-repeat right center;
}
.container-p-card-white-right-hero-2 { 
    width: 100%;
}
.card-white-right-hero-2 {
    width: 90%; 
    padding: 25px; 
    margin: 25px; 
    background-color: white; 
    border-radius: 15px; 
    box-shadow: 0px 20px 30px #00000026;
}
.row-grid-card-white-hero-2 { 
    width: 100%; 
    display: grid; 
    grid-template-columns: repeat(4, 25%);
}
.container-btn-green-after-card-white { 
    display: flex; 
    justify-content: flex-end;
    width: 80%; 
    margin: 0 auto; 
}
.btn-green-after-card-white { 
    min-width: 50%; 
    height: 50px; 
    border-radius: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    background-color: #008C44;
    box-shadow: 0px 3px 6px #00000029;
    color: white; 
    font-size:18px; 
    font-weight: 500; 
    padding: 5px 15px;
}

// .section-hero-2-mobile

.section-hero-2-mobile { 
    display: none;
}

@media screen and (max-width:425px){
    .section-hero-2-mobile { 
        display: initial; 
        display: flex; 
        flex-direction: column; 
        padding: 25px 0 25px 25px; 
        background-color: #F9F5F3;
    }
}

// Responisve Hero
@media screen and (max-width: 991px ) {
    .section-hero-1, .section-hero-2 { 
        display: none;
    }
}
@media screen and (max-width:1500px){
    .card-green-conoce-proyectos { 
        margin: 5vw 0 20px; 
    }
}
