.map-component {
    width: 100%;
    height: 600px;   
}

// Sala de ventas
.body__sala__ventas {
    position: relative;
}
.row__sala__ventas {
    padding-top: 100px;
    padding-bottom: 30px;

    // responsive
    @media ( min-width: 768px ) and ( max-width: 991px ) {
        width: 50%;
        top: 0;
        left: 0;
        z-index: 200;
        position: absolute;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.texto__salas__venta {
    margin-bottom: 20px;
    // Responsive
    @media ( max-width: 991px ) {
        color: #008C44;
    } 
}

// Content
.content__card__control {
    z-index: 500;
}
.list-cards {
    height: 230px;
    overflow: hidden;
    padding-bottom: 50px;
}

// Google maps
.gm-style .gm-style-iw-c{
    padding: 15px;
}
.gm-style-iw-d {
    height: auto!important;
    h4 {
        font-size: 18px;
        color: #008C44;
    }
}

// Selects
.--style-selects-section-two {
    width: 100%;
}
.--title-selects-section-two {
    font-size: 1rem;
}

// Boton boletin
.boton_boletin {
    padding: 12px 15px;
    height: auto;
}
.flecha_dere_boletin {
    padding: 0;
    width: 25px;
}

// Footer
.fondo__boletin {
    padding-left: 0;
    padding-right: 0;
}

// Responsive
@media ( max-width: 991px ) {
    .correo {
        margin-top: 30px;
    }
    .boton_boletin{
        margin-top: 30px;
    }
}